@page "{id}"
@using WorkplaceAdministrator.Web.Data.Models
@model WorkplaceAdministrator.Web.Areas.Admin.Pages.Shared.VolunteerDetailsModel
@{
    ViewData["Title"] = "VolunteerDetails";
    Layout = "~/Areas/Admin/Pages/Shared/_Layout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="@Model.DetailsModel.FirstName" value="@Model.DetailsModel.FirstName" />
    <input type="hidden" asp-for="@Model.DetailsModel.LastName" value="@Model.DetailsModel.LastName" />
    <div class="ml-5 mr-5">
        <div class="row">
            <div class="col-md-9">
                <h1>Details for @Model.DetailsModel.FirstName @Model.DetailsModel.LastName</h1>
                <br />
                <br />
                <button class="btn-primary btn-sm btn" asp-page-handler="SaveChanges" asp-route-id="@Model.DetailsModel.Id">Save Changes</button>
                <a class="btn-primary btn-sm btn" asp-page="AdminChangePassword" asp-route-id="@Model.DetailsModel.Id">Change Password</a>
            </div>
            <div class="col-md-3">
                <div>
                    <h3><strong>Volunteer Approval Status:</strong></h3>
                    @if (@Model.DetailsModel.OfficiallyApproved)
                    {
                        <h4 text-align="right">Approved</h4>
                        <input type="hidden" asp-for="@Model.DetailsModel.OfficiallyApproved" value="true" />
                    }
                    else
                    {
                        <h4 text-align="right">Pending or not approved</h4>
                        <input type="hidden" asp-for="@Model.DetailsModel.OfficiallyApproved" value="false" />
                    }
                </div>
                <br />
                <button class="btn btn-sm btn-primary" asp-page-handler="ChangeStatus" asp-route-check="5" asp-route-id="@Model.DetailsModel.Id">Change Status</button>
            </div>
        </div>
        <br />
        <partial name="_AdminStatusMessage" for="StatusMessage" />
        <hr class="mt-4 mb-4" />
        <div class="row col-md-12">
            <dl class="row col-md-4">
                <dt class="col-md-4 mb-1">Address:</dt>
                <dd class="col-md-8 row mb-1"><input type="text" class="form-control" value="@Model.DetailsModel.Address" asp-for="@Model.DetailsModel.Address" /></dd>
                <dt class="col-md-4 mb-1 ">City:</dt>
                <dd class="col-md-8 row mb-1"><input type="text" class="form-control" value="@Model.DetailsModel.City" asp-for="@Model.DetailsModel.City" /></dd>
                <dt class="col-md-4 mb-1 ">Postal Code:</dt>
                <dd class="col-md-8 row mb-1"><input class="form-control" value="@Model.DetailsModel.PostalCode" asp-for="@Model.DetailsModel.PostalCode" /></dd>
                <dt class="col-md-4 mb-1 ">Birth Date:</dt>
                <dd class="col-md-8 row mb-1"><input type="date" class="form-control" value="@Model.DetailsModel.Birthdate.ToString("yyyy-MM-dd")" asp-for="@Model.DetailsModel.Birthdate" /></dd>
            </dl>
            <dl class="row col-md-4">
                <dt class="col-md-4 mb-1">Email:</dt>
                <dd class="col-md-8 row mb-1"><input class="form-control" value="@Model.DetailsModel.Email" asp-for="@Model.DetailsModel.Email" /></dd>

                <dt class="col-md-4 mb-1">Main Phone:</dt>
                <dd class="col-md-8 row mb-1"><input class="form-control" value="@Model.DetailsModel.MainPhone" asp-for="@Model.DetailsModel.MainPhone" /></dd>
                <dt class="col-md-4 mb-1">Alternate Phone 1:</dt>
                <dd class="col-md-8 row mb-1"><input class="form-control" value="@Model.DetailsModel.AlternatePhone1" asp-for="@Model.DetailsModel.AlternatePhone1" /></dd>
                <dt class="col-md-4 mb-1">Alternate Phone 2:</dt>
                <dd class="col-md-8 row mb-1"><input class="form-control" value="@Model.DetailsModel.AlternatePhone2" asp-for="@Model.DetailsModel.AlternatePhone2" /></dd>
            </dl>
            <div class="col-md-4 row">
                <dl class="col-md-4 row">
                    <dt class="col-md-10">Food Safe:</dt>
                    <dd class="col-md-2">
                        @if (@Model.DetailsModel.FoodSafe)
                        {
                            <span>Yes</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.FoodSafe" value="true" />
                        }
                        else
                        {
                            <span>No</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.FoodSafe" value="false" />
                        }
                    </dd>
                </dl>
                <div class="col-md-2 pl-1 pr-1">
                    <button asp-page-handler="ChangeStatus" asp-route-check="6" asp-route-id="@Model.DetailsModel.Id" class="btn-sm btn btn-light">Change</button>
                </div>
                <div class="col-md-2">Expires:</div>
                <input class="form-control col-md-4" type="date" value="@Model.DetailsModel.FoodSafeExpiry.ToString("yyyy-MM-dd")" asp-for="@Model.DetailsModel.FoodSafeExpiry" />
                <dl class="col-md-4 row">
                    <dt class="col-md-10">CPR:</dt>
                    <dd class="col-md-2">
                        @if (@Model.DetailsModel.Cpr)
                        {
                            <span>Yes</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.Cpr" value="true" />
                        }
                        else
                        {
                            <span>No</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.Cpr" value="false" />
                        }
                    </dd>
                </dl>
                <div class="col-md-2 pl-1 pr-1">
                    <button asp-page-handler="ChangeStatus" asp-route-check="7" asp-route-id="@Model.DetailsModel.Id" class=" btn-sm btn btn-light">Change</button>
                </div>
                <div class="col-md-2">Expires:</div>
                <input class="form-control col-md-4" type="date" value="@Model.DetailsModel.CprExpiry.ToString("yyyy-MM-dd")" asp-for="@Model.DetailsModel.CprExpiry" />
                <dl class="col-md-4 row">
                    <dt class="col-md-10">First Aid:</dt>
                    <dd class="col-md-2">
                        @if (@Model.DetailsModel.FirstAid)
                        {
                            <span>Yes</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.FirstAid" value="true" />
                        }
                        else
                        {
                            <span>No</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.FirstAid" value="false" />
                        }
                    </dd>
                </dl>
                <div class="col-md-2 pl-1 pr-1">
                    <button asp-page-handler="ChangeStatus" asp-route-check="8" asp-route-id="@Model.DetailsModel.Id" class="btn-sm btn btn-light">Change</button>
                </div>
                <div class="col-md-2">Expires:</div>
                <input class="form-control col-md-4" type="date" value="@Model.DetailsModel.FirstAidExpiry.ToString("yyyy-MM-dd")" asp-for="@Model.DetailsModel.FirstAidExpiry" />
                <dl class="col-md-12 row">
                    <dt class="col-md-4">Other Certificates:</dt>
                    <dd class="col-md-8">
                        <textarea class="form-control" rows="2" asp-for="@Model.DetailsModel.OtherCertificates" value="@Model.DetailsModel.OtherCertificates"></textarea>
                    </dd>
                </dl>
            </div>
        </div>
        <hr class="mt-2 mb-4" />
        <div class="row col-md-12">
            <dl class="row col-md-4 mb-4">
                <dt class="col-md-5 mb-1">Emergency Contact Name:</dt>
                <dd class="col-md-7 mb-1 row"><input class="form-control" asp-for="@Model.DetailsModel.EmergencyFullName" value="@Model.DetailsModel.EmergencyFullName" /></dd>
                <dt class="col-md-5 mb-1">Relationship to Emergency Contact</dt>
                <dd class="col-md-7 mb-1 row"><input class="form-control" asp-for="@Model.DetailsModel.EmergencyRelationship" value="@Model.DetailsModel.EmergencyRelationship" /></dd>

            </dl>
            <dl class="row col-md-4 mb-4">
                <dt class="col-md-5 mb-1">Emergency Phone 1:</dt>
                <dd class="col-md-7 mb-1 row"><input class="form-control" asp-for="@Model.DetailsModel.EmergencyPhone1" value="@Model.DetailsModel.EmergencyPhone1" /></dd>
                <dt class="col-md-5 mb-1">Emergency Phone 2:</dt>
                <dd class="col-md-7 mb-1 row"><input class="form-control" asp-for="@Model.DetailsModel.EmergencyPhone2" value="@Model.DetailsModel.EmergencyPhone2" /></dd>
            </dl>
            <div class="col-md-4 row">
                <dl class="row col-md-8">
                    <dt class="col-md-10">Criminal Record Check:</dt>
                    <dd class="col-md-2">
                        @if (@Model.DetailsModel.CriminalRecordCheck)
                        {
                            <span>Yes</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.CriminalRecordCheck" value="true" />
                        }
                        else
                        {
                            <span>No</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.CriminalRecordCheck" value="false" />
                        }
                    </dd>
                </dl>
                <div class="col-md-2"></div>
                <button asp-page-handler="ChangeStatus" asp-route-check="1" asp-route-id="@Model.DetailsModel.Id" class="col-md-2 btn-sm btn mb-4 btn-light">Change</button>
                <dl class="row col-md-8">
                    <dt class="col-md-10">Driving Abstract:</dt>
                    <dd class="col-md-2">
                        @if (@Model.DetailsModel.DrivingAbstract)
                        {
                            <span>Yes</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.DrivingAbstract" value="true" />
                        }
                        else
                        {
                            <span>No</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.DrivingAbstract" value="false" />
                        }
                    </dd>
                </dl>
                <div class="col-md-2"></div>
                <button asp-page-handler="ChangeStatus" asp-route-check="2" asp-route-id="@Model.DetailsModel.Id" class="col-md-2 btn-sm btn btn-light mb-4">Change</button>
                <dl class="row col-md-8">
                    <dt class="col-md-10">Confirmation of Professional Designation:</dt>
                    <dd class="col-md-2">
                        @if (@Model.DetailsModel.ConfirmationOfProfessionalDesignation)
                        {
                            <span>Yes</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.ConfirmationOfProfessionalDesignation" value="true" />
                        }
                        else
                        {
                            <span>No</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.ConfirmationOfProfessionalDesignation" value="false" />
                        }
                    </dd>
                </dl>
                <div class="col-md-2"></div>
                <button asp-page-handler="ChangeStatus" asp-route-check="3" asp-route-id="@Model.DetailsModel.Id" class="col-md-2 btn-sm btn btn-light mb-4">Change</button>
                <dl class="row col-md-8">
                    <dt class="col-md-10">Child Welfare Check:</dt>
                    <dd class="col-md-2">
                        @if (@Model.DetailsModel.ChildWelfareCheck)
                        {
                            <span>Yes</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.ChildWelfareCheck" value="true" />
                        }
                        else
                        {
                            <span>No</span>
                            <input type="hidden" asp-for="@Model.DetailsModel.ChildWelfareCheck" value="false" />
                        }
                    </dd>
                </dl>
                <div class="col-md-2"></div>
                <button asp-page-handler="ChangeStatus" asp-route-check="4" asp-route-id="@Model.DetailsModel.Id" class="col-md-2 btn-sm btn btn-light mb-4">Change</button>
            </div>
        </div>
        <hr class="mt-2 mb-4" />
        <div class="row col-md-12">
            <dl class="col-md-6 row">
                <dt class="col-md-4">Education and Training:</dt>
                <dd class="col-md-8 row"><textarea rows="4" class="form-control" asp-for="@Model.DetailsModel.EducationTraining" value="@Model.DetailsModel.EducationTraining"></textarea></dd>
            </dl>
            <dl class="col-md-6 row">
                <dt class="col-md-4">Skills Interests and Hobbies:</dt>
                <dd class="col-md-8 row"><textarea rows="4" class="form-control" asp-for="@Model.DetailsModel.SkillsInterestsHobbies" value="@Model.DetailsModel.SkillsInterestsHobbies"></textarea></dd>
            </dl>
        </div>
        <div class="row col-md-12">
            <dl class="col-md-6 row">
                <dt class="col-md-4">Volunteer Experience:</dt>
                <dd class="col-md-8 row"><textarea rows="4" class="form-control" asp-for="@Model.DetailsModel.VolunteerExperience" value="@Model.DetailsModel.VolunteerExperience"></textarea></dd>
            </dl>
            <dl class="col-md-6 row">
                <dt class="col-md-4">Other Boards:</dt>
                <dd class="col-md-8 row"><textarea rows="4" class="form-control" asp-for="@Model.DetailsModel.OtherBoards" value="@Model.DetailsModel.OtherBoards"></textarea></dd>
            </dl>
        </div>
        <hr class="mt-2 mb-4" />
        <div>
            <dl class="col-md-12 row"><dt class="col-md-4">Availability:</dt></dl>
        </div>
        <table class="availability table">
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            @for (int i = 1; i <= @Model.MaxAvailabilityCount; i++)
            {
                <tr>
                    <td>
                        @if (Model.Availability["sunday"].Count >= i)
                        {
                            <p>@Model.Availability["sunday"][i - 1].ToString()</p>
                        }
                    </td>
                    <td>
                        @if (Model.Availability["monday"].Count >= i)
                        {
                            <p>@Model.Availability["monday"][i - 1].ToString()</p>
                        }
                    </td>
                    <td>
                        @if (Model.Availability["tuesday"].Count >= i)
                        {
                            <p>@Model.Availability["tuesday"][i - 1].ToString()</p>
                        }
                    </td>
                    <td>
                        @if (Model.Availability["wednesday"].Count >= i)
                        {
                            <p>@Model.Availability["wednesday"][i - 1].ToString()</p>
                        }
                    </td>
                    <td>
                        @if (Model.Availability["thursday"].Count >= i)
                        {
                            <p>@Model.Availability["thursday"][i - 1].ToString()</p>
                        }
                    </td>
                    <td>
                        @if (Model.Availability["friday"].Count >= i)
                        {
                            <p>@Model.Availability["friday"][i - 1].ToString()</p>
                        }
                    </td>
                    <td>
                        @if (Model.Availability["saturday"].Count >= i)
                        {
                            <p>@Model.Availability["saturday"][i - 1].ToString()</p>
                        }
                    </td>
                </tr>
            }
        </table>

        <hr class="mt-2 mb-4" />
        <dl class="row col-md-12">
            <dt class="col-md-2">Preferred Positions:</dt>
            <dd class=" col-md-10 row">
                @foreach (Position position in @Model.Positions)
                {
                    <div class="form-check">
                        @if (@Model.DetailsModel.Positions.Any(p =>
                           p.Position == position &&
                           p.Association != PositionVolunteer.AssociationType.Assigned))
                        {
                            <input class="mr-3" type="checkbox" name="preferred-@position.Name" checked />
                        }
                        else
                        {
                            <input class="mr-3" type="checkbox" name="preferred-@position.Name" />
                        }
                        <label for="@position.Name">@position.Name,</label>
                    </div>
                }
            </dd>
        </dl>
        <dl class="row col-md-12">
            <dt class="col-md-2">Assigned Positions:</dt>
            <dd class="col-md-10 row">
                @foreach (Position position in @Model.Positions)
                {
                    <div class="form-check">
                        @if (@Model.DetailsModel.Positions.Any(p =>
                           p.Position == position &&
                           p.Association != PositionVolunteer.AssociationType.Preferred))
                        {
                            <input class="mr-3" type="checkbox" name="assigned-@position.Name" checked />
                        }
                        else
                        {
                            <input class="mr-3" type="checkbox" name="assigned-@position.Name" />
                        }
                        <label for="@position.Name">@position.Name,</label>
                    </div>
                }
            </dd>
        </dl>

        <hr class="mt-2 mb-4" />
        <div class="row col-md-12">
            @for (int i = 1; i <= @Model.DetailsModel.WorkExperiences.Count; i++)
            {
                <input type="hidden" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].Id" />
                <br>
                <dl class="row col-md-4">
                    <dt class="col-md-4">Work Experience @i</dt>
                    <br />
                    <dd class="col-md-8">&nbsp;</dd>
                    <dt class="col-md-4">Employer Name:</dt>
                    <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].EmployerName" value="@Model.DetailsModel.WorkExperiences[i - 1].EmployerName" /></dd>
                    <dt class="col-md-4">Employer Phone:</dt>
                    <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].EmployerPhone" value="@Model.DetailsModel.WorkExperiences[i - 1].EmployerPhone" /></dd>
                    <dt class="col-md-4">Employer Address:</dt>
                    <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].EmployerAddress" value="@Model.DetailsModel.WorkExperiences[i - 1].EmployerAddress" /></dd>
                    <dt class="col-md-4">Position Worked:</dt>
                    <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].PositionWorked" value="@Model.DetailsModel.WorkExperiences[i - 1].PositionWorked" /></dd>
                    <dt class="col-md-4">Contact Person:</dt>
                    <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].ContactPerson" value="@Model.DetailsModel.WorkExperiences[i - 1].ContactPerson" /></dd>
                    <dt class="col-md-4">Start Date:</dt>
                    <dd class="col-md-8 row"><input type="date" class="form-control" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].StartDate" value="@Model.DetailsModel.WorkExperiences[i - 1].StartDate.ToString("yyyy-MM-dd")" /></dd>
                    <dt id="workexp-current-label-@i" class="col-md-4">End Date:</dt>
                    <dd id="workexp-current-enddate-@i" class="col-md-8 row"><input type="date" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].EndDate" class="form-control" /></dd>
                    <dt id="workexp-current-spacer" class="col-md-4"></dt>
                    <dd style="text-align: right;" class="col-md-8">
                        <div class="form-check">
                            <input id="workexp-current-check-@i" onclick="makeWorkExperienceCurrent(@i)" value="true" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].CurrentJob" />
                            <label>Current Job</label>
                        </div>
                    </dd>
                </dl>
            }
        </div>
        <hr class="mb-4 mt-2" />
        <div class="row col-md-12">
            @for (int i = 1; i <= @Model.DetailsModel.References.Count; i++)
            {
                <input type="hidden" asp-for="@Model.DetailsModel.References[i - 1].Id" />
                <br>
                <dl class="row col-md-4">
                    <dt class="col-md-4">Reference @i</dt>
                    <dd class="col-md-8">&nbsp;</dd>
                    <dt class="col-md-4">Name:</dt>
                    <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.References[i - 1].Name" value="@Model.DetailsModel.References[i - 1].Name" /></dd>
                    <dt class="col-md-4">Phone:</dt>
                    <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.References[i - 1].Phone" value="@Model.DetailsModel.References[i - 1].Phone" /></dd>
                    <dt class="col-md-4">Relationship:</dt>
                    <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.References[i - 1].Relationship" value="@Model.DetailsModel.References[i - 1].Relationship" /></dd>
                    <dt class="col-md-4">Occupation:</dt>
                    <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.References[i - 1].Occupation" value="@Model.DetailsModel.References[i - 1].Occupation" /></dd>
                </dl>
            }
        </div>
    </div>
</form>

<script>
    initializeWorkExperiences();

    function initializeWorkExperiences() {
        let checkboxes = document.querySelectorAll('*[id^="workexp-current"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked === true) {
                let checkedId = checkboxes[i].id[checkboxes[i].id.length - 1];
                let workExperienceEndDateId = "workexp-current-enddate-" + checkedId;
                let workExperienceLabelId = "workexp-current-label-" + checkedId;
                let workExperienceEndDate = document.getElementById(workExperienceEndDateId);
                let workExperienceLabel = document.getElementById(workExperienceLabelId);
                workExperienceEndDate.style.display = 'none';
                workExperienceLabel.style.display = 'none';
            }
        }
    }

    function makeWorkExperienceCurrent(workExpId) {

        // get the ids of the selected work experience elements
        let workExperienceCheckId = "workexp-current-check-" + workExpId;
        let workExperienceEndDateId = "workexp-current-enddate-" + workExpId;
        let workExperienceLabelId = "workexp-current-label-" + workExpId;

        // get the elements using the ids
        let workExperienceCheck = document.getElementById(workExperienceCheckId);
        let workExperienceEndDate = document.getElementById(workExperienceEndDateId);
        let workExperienceLabel = document.getElementById(workExperienceLabelId);

        // get all checkboxes that weren't selected
        let checkboxes = $('[id^="workexp-current"]');

        // hide/show end date and other checkboxes based on checked value
        if (workExperienceCheck.checked === true) {
            workExperienceEndDate.style.display = 'none';
            workExperienceLabel.style.display = 'none';
            workExperienceEndDate.valueAsDate = new Date(1970, 1, 1);

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked === false) {
                    checkboxes[i].style.display = 'none'
                }
            }
        }
        else {
            workExperienceLabel.style.display = 'block';
            workExperienceEndDate.style.display = 'block';

            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].style.display = 'block'
            }
        }
    }
</script>