@page
@inject UserManager<AppUser> _userManager
@using MHFoodBank.Web.Data.Models
@model MHFoodBank.Web.Areas.Volunteer.Pages.ManageAvailabilityModel
@{
    ViewData["Title"] = "ManageShifts";
    Layout = "~/Areas/Volunteer/Pages/Shared/_Layout.cshtml";
}
<style>
    .week-container {
        display: grid;
        text-align-all: center;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "sunday monday tuesday wednesday" 
                             "thursday friday saturday .";
    }

    .sunday-container {
        grid-area: sunday;
    }

    .monday-container {
        grid-area: monday;
    }

    .tuesday-container {
        grid-area: tuesday;
    }

    .wednesday-container {
        grid-area: wednesday;
    }

    .thursday-container {
        grid-area: thursday;
    }

    .friday-container {
        grid-area: friday;
    }

    .saturday-container {
        grid-area: saturday;
    }
    </style>

<div class="mr-5 ml-5">

<h1>Manage Availability</h1>
<partial name="_VolunteerStatusMessage" for="StatusMessage" />
<hr />
<br />
    <form method="post">
        <div class="week-container">
            <div class="sunday-container">
                <h4>Sunday</h4>
                <div class="sunday-fields">
                    @if (@Model.OldAvailability["sunday"].Count > 0)
                    {
                        @for (int i = 0; i < @Model.OldAvailability["sunday"].Count; i++)
                        {
                    <div class="row form-group ml-1">
                        <input name="sunday-1-@(i + 1)" value="@Model.OldAvailability["sunday"][i].StartTime" type="text" class="time start-time form-control col-md-2" />
                        <span class="col-md-1 justify-content-center">to</span>
                        <input name="sunday-2-@(i + 1)" value="@Model.OldAvailability["sunday"][i].EndTime" type="text" class="time end-time form-control col-md-2" />
                        <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                    </div>
                        }
                    }
                    else
                    {
                <div class="row form-group ml-1">
                    <input name="sunday-1-1" type="text" class="time start-time form-control col-md-2" />
                    <span class="col-md-1 justify-content-center">to</span>
                    <input name="sunday-2-1" type="text" class="time end-time form-control col-md-2" />
                    <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                </div>
                    }
                </div>
                <input id="sunday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
            </div>
            <div class="monday-container">
                <h4>Monday</h4>
                <div class="monday-fields">
                    @if (@Model.OldAvailability["monday"].Count > 0)
                    {
                        @for (int i = 0; i < @Model.OldAvailability["monday"].Count; i++)
                        {
                    <div class="row form-group ml-1">
                        <input name="monday-1-@(i + 1)" value="@Model.OldAvailability["monday"][i].StartTime" type="text" class="time start-time form-control col-md-2" />
                        <span class="col-md-1 justify-content-center">to</span>
                        <input name="monday-2-@(i + 1)" value="@Model.OldAvailability["monday"][i].EndTime" type="text" class="time end-time form-control col-md-2" />
                        <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                    </div>
                        }
                    }
                    else
                    {
                <div class="row form-group ml-1">
                    <input name="monday-1-1" type="text" class="time start-time form-control col-md-2" />
                    <span class="col-md-1 justify-content-center">to</span>
                    <input name="monday-2-1" type="text" class="time end-time form-control col-md-2" />
                    <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                </div>
                    }
                </div>
                <input id="monday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
            </div>

            <div class="tuesday-container">
                <h4>Tuesday</h4>
                <div class="tuesday-fields">
                    @if (@Model.OldAvailability["tuesday"].Count > 0)
                    {
                        @for (int i = 0; i < @Model.OldAvailability["tuesday"].Count; i++)
                        {
                    <div class="row form-group ml-1">
                        <input name="tuesday-1-@(i + 1)" value="@Model.OldAvailability["tuesday"][i].StartTime" type="text" class="time start-time form-control col-md-2" />
                        <span class="col-md-1 justify-content-center">to</span>
                        <input name="tuesday-2-@(i + 1)" value="@Model.OldAvailability["tuesday"][i].EndTime" type="text" class="time end-time form-control col-md-2" />
                        <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                    </div>
                        }
                    }
                    else
                    {
                <div class="row form-group ml-1">
                    <input name="tuesday-1-1" type="text" class="time start-time form-control col-md-2" />
                    <span class="col-md-1 justify-content-center">to</span>
                    <input name="tuesday-2-1" type="text" class="time end-time form-control col-md-2" />
                    <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                </div>
                    }
                </div>
                <input id="tuesday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
            </div>
            <div class="wednesday-container">
                <h4>Wednesday</h4>
                <div class="wednesday-fields">
                    @if (@Model.OldAvailability["wednesday"].Count > 0)
                    {
                        @for (int i = 0; i < @Model.OldAvailability["wednesday"].Count; i++)
                        {
                    <div class="row form-group ml-1">
                        <input name="wednesday-1-@(i + 1)" value="@Model.OldAvailability["wednesday"][i].StartTime" type="text" class="time start-time form-control col-md-2" />
                        <span class="col-md-1 justify-content-center">to</span>
                        <input name="wednesday-2-@(i + 1)" value="@Model.OldAvailability["wednesday"][i].EndTime" type="text" class="time end-time form-control col-md-2" />
                        <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                    </div>
                        }
                    }
                    else
                    {
                <div class="row form-group ml-1">
                    <input name="wednesday-1-1" type="text" class="time start-time form-control col-md-2" />
                    <span class="col-md-1 justify-content-center">to</span>
                    <input name="wednesday-2-1" type="text" class="time end-time form-control col-md-2" />
                    <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                </div>
                    }
                </div>
                <input id="wednesday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
            </div>
            <div class="thursday-container">
                <h4>Thursday</h4>
                <div class="thursday-fields">
                    @if (@Model.OldAvailability["thursday"].Count > 0)
                    {
                        @for (int i = 0; i < @Model.OldAvailability["thursday"].Count; i++)
                        {
                    <div class="row form-group ml-1">
                        <input name="thursday-1-@(i + 1)" value="@Model.OldAvailability["thursday"][i].StartTime" type="text" class="time start-time form-control col-md-2" />
                        <span class="col-md-1 justify-content-center">to</span>
                        <input name="thursday-2-@(i + 1)" value="@Model.OldAvailability["thursday"][i].EndTime" type="text" class="time end-time form-control col-md-2" />
                        <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                    </div>
                        }
                    }
                    else
                    {
                <div class="row form-group ml-1">
                    <input name="thursday-1-1" type="text" class="time start-time form-control col-md-2" />
                    <span class="col-md-1 justify-content-center">to</span>
                    <input name="thursday-2-1" type="text" class="time end-time form-control col-md-2" />
                    <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                </div>
                    }
                </div>
                <input id="thursday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
            </div>
            <div class="friday-container">
                <h4>Friday</h4>
                <div class="friday-fields">
                    @if (@Model.OldAvailability["friday"].Count > 0)
                    {
                        @for (int i = 0; i < @Model.OldAvailability["friday"].Count; i++)
                        {
                    <div class="row form-group ml-1">
                        <input name="friday-1-@(i + 1)" value="@Model.OldAvailability["friday"][i].StartTime" type="text" class="time start-time form-control col-md-2" />
                        <span class="col-md-1 justify-content-center">to</span>
                        <input name="friday-2-@(i + 1)" value="@Model.OldAvailability["friday"][i].EndTime" type="text" class="time end-time form-control col-md-2" />
                        <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                    </div>
                        }
                    }
                    else
                    {
                <div class="row form-group ml-1">
                    <input name="friday-1-1" type="text" class="time start-time form-control col-md-2" />
                    <span class="col-md-1 justify-content-center">to</span>
                    <input name="friday-2-1" type="text" class="time end-time form-control col-md-2" />
                    <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                </div>
                    }
                </div>
                <input id="friday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
            </div>
            <div class="saturday-container">
                <h4>Saturday</h4>
                <div class="saturday-fields">
                    @if (@Model.OldAvailability["saturday"].Count > 0)
                    {
                        @for (int i = 0; i < @Model.OldAvailability["saturday"].Count; i++)
                        {
                            <div class="row form-group ml-1">
                                <input name="saturday-1-@(i + 1)" value="@Model.OldAvailability["saturday"][i].StartTime" type="text" class="time start-time form-control col-md-2" />
                                <span class="col-md-1 justify-content-center">to</span>
                                <input name="saturday-2-@(i + 1)" value="@Model.OldAvailability["saturday"][i].EndTime" type="text" class="time end-time form-control col-md-2" />
                                <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                            </div>
                        }
                    }
                    else
                    {
                <div class="row form-group ml-1">
                    <input name="saturday-1-1" type="text" class="time start-time form-control col-md-2" />
                    <span class="col-md-1 justify-content-center">to</span>
                    <input name="saturday-2-1" type="text" class="time end-time form-control col-md-2" />
                    <input type='button' value='Remove' class='remove_field btn-sm btn btn-light col-md-2 ml-2' />
                </div>
                    }
                </div>
                <input id="saturday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
            </div>
        </div>
        <hr />
        <button class="btn btn-primary col-md-2" asp-page-handler="SaveTimes">Submit Changes</button>
    </form>
</div>



