@page
@inject UserManager<AppUser> _userManager
@using MHFoodBank.Common
@model MHFoodBank.Web.Areas.Volunteer.Pages.ManageAvailabilityModel
@{
    ViewData["Title"] = "ManageShifts";
    Layout = "~/Areas/Volunteer/Pages/Shared/_Layout.cshtml";
}
<style>
    .week-container {
        display: grid;
        text-align-all: center;
        margin: auto;
        grid-row-gap: 2.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "sunday monday" "tuesday wednesday"
                             "thursday friday" "saturday . ";
    }

    .sunday-container {
        grid-area: sunday;
    }

    .monday-container {
        grid-area: monday;
    }

    .tuesday-container {
        grid-area: tuesday;
    }

    .wednesday-container {
        grid-area: wednesday;
    }

    .thursday-container {
        grid-area: thursday;
    }

    .friday-container {
        grid-area: friday;
    }

    .saturday-container {
        grid-area: saturday;
    }
    </style>
<script src="~/js/datetimepickers.js"></script>
<div class="mr-5 ml-5">

<h1>Manage Availability</h1>
<partial name="_VolunteerStatusMessage" for="StatusMessage" />
<hr />
<br />
<div class="week-container">
    <div class="sunday-container">
        <h4>Sunday</h4>
        <div class="sunday-fields">
            @if (@Model.OldAvailability["sunday"].Count > 0)
            {
                @for (int i = 0; i < @Model.OldAvailability["sunday"].Count; i++)
                {

                    <div class="row ml-1">

                        <div class="form-group">
                            <div class="input-group date datetimepicker-time" id="dtp-sunday-1-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="sunday-1-@(i + 1)" type="text" value="@Model.OldAvailability["sunday"][i].StartTime" class="form-control datetimepicker-input start-time" data-target="#dtp-sunday-1-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-sunday-1-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                        <span class="col-md-1 justify-content-center">to</span>

                        <div class="form-group">
                            <div class="input-group date datetimepicker-time" id="dtp-sunday-2-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="monday-2-1" type="text" value="@Model.OldAvailability["sunday"][i].EndTime" class="form-control datetimepicker-input end-time" data-target="#dtp-sunday-2-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-sunday-2-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
            else
            {
                <div class="row ml-1">
                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-sunday-1-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="sunday-1-1" type="text" class="form-control datetimepicker-input start-time" data-target="#dtp-sunday-1-1" />
                            <div class="input-group-append" data-target="#dtp-sunday-1-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>

                    <span class="col-md-1 justify-content-center">to</span>

                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-sunday-2-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="sunday-2-1" type="text" class="form-control datetimepicker-input end-time" data-target="#dtp-sunday-2-1" />
                            <div class="input-group-append" data-target="#dtp-sunday-2-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <input id="sunday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
    </div>
    <div class="monday-container">
        <h4>Monday</h4>
        <div class="monday-fields">
            @if (@Model.OldAvailability["monday"].Count > 0)
            {
                @for (int i = 0; i < @Model.OldAvailability["monday"].Count; i++)
                {

                    <div class="row ml-1">

                        <div class="form-group col=">
                            <div class="input-group date datetimepicker-time" id="dtp-monday-1-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="monday-1-@(i + 1)" type="text" value="@Model.OldAvailability["monday"][i].StartTime" class="form-control datetimepicker-input start-time" data-target="#dtp-monday-1-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-monday-1-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                        <span class="col-md-1 justify-content-center">to</span>

                        <div class="form-group">
                            <div class="input-group date datetimepicker-time" id="dtp-monday-2-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="monday-2-1" type="text" value="@Model.OldAvailability["monday"][i].EndTime" class="form-control datetimepicker-input end-time" data-target="#dtp-monday-2-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-monday-2-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
            else
            {
                <div class="row ml-1">
                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-monday-1-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="monday-1-1" type="text" class="form-control datetimepicker-input start-time" data-target="#dtp-monday-1-1" />
                            <div class="input-group-append" data-target="#dtp-monday-1-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>

                    <span class="col-md-1 justify-content-center">to</span>

                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-monday-2-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="monday-2-1" type="text" class="form-control datetimepicker-input end-time" data-target="#dtp-monday-2-1" />
                            <div class="input-group-append" data-target="#dtp-monday-2-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <input id="monday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
    </div>
    <br />
    <div class="tuesday-container">
        <h4>Tuesday</h4>
        <div class="tuesday-fields">
            @if (@Model.OldAvailability["tuesday"].Count > 0)
            {
                @for (int i = 0; i < @Model.OldAvailability["tuesday"].Count; i++)
                {

                    <div class="row ml-1">

                        <div class="form-group col=">
                            <div class="input-group date datetimepicker-time" id="dtp-tuesday-1-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="tuesday-1-@(i + 1)" type="text" value="@Model.OldAvailability["tuesday"][i].StartTime" class="form-control datetimepicker-input start-time" data-target="#dtp-tuesday-1-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-tuesday-1-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                        <span class="col-md-1 justify-content-center">to</span>

                        <div class="form-group">
                            <div class="input-group date datetimepicker-time" id="dtp-tuesday-2-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="monday-2-1" type="text" value="@Model.OldAvailability["tuesday"][i].EndTime" class="form-control datetimepicker-input end-time" data-target="#dtp-tuesday-2-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-tuesday-2-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
            else
            {
                <div class="row ml-1">
                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-tuesday-1-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="tuesday-1-1" type="text" class="form-control datetimepicker-input start-time" data-target="#dtp-tuesday-1-1" />
                            <div class="input-group-append" data-target="#dtp-tuesday-1-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>

                    <span class="col-md-1 justify-content-center">to</span>

                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-tuesday-2-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="tuesday-2-1" type="text" class="form-control datetimepicker-input end-time" data-target="#dtp-tuesday-2-1" />
                            <div class="input-group-append" data-target="#dtp-tuesday-2-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <input id="tuesday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
    </div>
    <div class="wednesday-container">
        <h4>Wednesday</h4>
        <div class="wednesday-fields">
            @if (@Model.OldAvailability["wednesday"].Count > 0)
            {
                @for (int i = 0; i < @Model.OldAvailability["wednesday"].Count; i++)
                {

                    <div class="row ml-1">

                        <div class="form-group col=">
                            <div class="input-group date datetimepicker-time" id="dtp-wednesday-1-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="wednesday-1-@(i + 1)" type="text" value="@Model.OldAvailability["wednesday"][i].StartTime" class="form-control datetimepicker-input start-time" data-target="#dtp-wednesday-1-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-wednesday-1-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                        <span class="col-md-1 justify-content-center">to</span>

                        <div class="form-group">
                            <div class="input-group date datetimepicker-time" id="dtp-wednesday-2-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="monday-2-1" type="text" value="@Model.OldAvailability["wednesday"][i].EndTime" class="form-control datetimepicker-input end-time" data-target="#dtp-wednesday-2-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-wednesday-2-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
            else
            {
                <div class="row ml-1">
                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-wednesday-1-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="wednesday-1-1" type="text" class="form-control datetimepicker-input start-time" data-target="#dtp-wednesday-1-1" />
                            <div class="input-group-append" data-target="#dtp-wednesday-1-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>

                    <span class="col-md-1 justify-content-center">to</span>

                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-wednesday-2-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="wednesday-2-1" type="text" class="form-control datetimepicker-input end-time" data-target="#dtp-wednesday-2-1" />
                            <div class="input-group-append" data-target="#dtp-wednesday-2-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <input id="wednesday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
    </div>
    <br />
    <div class="thursday-container">
        <h4>Thursday</h4>
        <div class="thursday-fields">
            @if (@Model.OldAvailability["thursday"].Count > 0)
            {
                @for (int i = 0; i < @Model.OldAvailability["thursday"].Count; i++)
                {

                    <div class="row ml-1">

                        <div class="form-group col=">
                            <div class="input-group date datetimepicker-time" id="dtp-thursday-1-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="thursday-1-@(i + 1)" type="text" value="@Model.OldAvailability["thursday"][i].StartTime" class="form-control datetimepicker-input start-time" data-target="#dtp-thursday-1-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-thursday-1-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                        <span class="col-md-1 justify-content-center">to</span>

                        <div class="form-group">
                            <div class="input-group date datetimepicker-time" id="dtp-thursday-2-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="monday-2-1" type="text" value="@Model.OldAvailability["thursday"][i].EndTime" class="form-control datetimepicker-input end-time" data-target="#dtp-thursday-2-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-thursday-2-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
            else
            {
                <div class="row ml-1">
                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-thursday-1-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="thursday-1-1" type="text" class="form-control datetimepicker-input start-time" data-target="#dtp-thursday-1-1" />
                            <div class="input-group-append" data-target="#dtp-thursday-1-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>

                    <span class="col-md-1 justify-content-center">to</span>

                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-thursday-2-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="thursday-2-1" type="text" class="form-control datetimepicker-input end-time" data-target="#dtp-thursday-2-1" />
                            <div class="input-group-append" data-target="#dtp-thursday-2-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <input id="thursday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
    </div>
    <div class="friday-container">
        <h4>Friday</h4>
        <div class="friday-fields">
            @if (@Model.OldAvailability["friday"].Count > 0)
            {
                @for (int i = 0; i < @Model.OldAvailability["friday"].Count; i++)
                {

                    <div class="row ml-1">

                        <div class="form-group col=">
                            <div class="input-group date datetimepicker-time" id="dtp-friday-1-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="friday-1-@(i + 1)" type="text" value="@Model.OldAvailability["friday"][i].StartTime" class="form-control datetimepicker-input start-time" data-target="#dtp-friday-1-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-friday-1-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                        <span class="col-md-1 justify-content-center">to</span>

                        <div class="form-group">
                            <div class="input-group date datetimepicker-time" id="dtp-friday-2-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="monday-2-1" type="text" value="@Model.OldAvailability["friday"][i].EndTime" class="form-control datetimepicker-input end-time" data-target="#dtp-friday-2-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-friday-2-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
            else
            {
                <div class="row ml-1">
                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-friday-1-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="friday-1-1" type="text" class="form-control datetimepicker-input start-time" data-target="#dtp-friday-1-1" />
                            <div class="input-group-append" data-target="#dtp-friday-1-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>

                    <span class="col-md-1 justify-content-center">to</span>

                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-friday-2-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="friday-2-1" type="text" class="form-control datetimepicker-input end-time" data-target="#dtp-friday-2-1" />
                            <div class="input-group-append" data-target="#dtp-friday-2-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <input id="friday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
    </div>
    <br />
    <div class="saturday-container">
        <h4>Saturday</h4>
        <div class="saturday-fields">
            @if (@Model.OldAvailability["saturday"].Count > 0)
            {
                @for (int i = 0; i < @Model.OldAvailability["saturday"].Count; i++)
                {

                    <div class="row ml-1">

                        <div class="form-group col=">
                            <div class="input-group date datetimepicker-time" id="dtp-saturday-1-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="saturday-1-@(i + 1)" type="text" value="@Model.OldAvailability["saturday"][i].StartTime" class="form-control datetimepicker-input start-time" data-target="#dtp-saturday-1-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-saturday-1-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                        <span class="col-md-1 justify-content-center">to</span>

                        <div class="form-group">
                            <div class="input-group date datetimepicker-time" id="dtp-saturday-2-@(i + 1)" data-target-input="nearest">
                                <input id="edit-recshift-endtime" name="monday-2-1" type="text" value="@Model.OldAvailability["saturday"][i].EndTime" class="form-control datetimepicker-input end-time" data-target="#dtp-saturday-2-@(i + 1)" />
                                <div class="input-group-append" data-target="#dtp-saturday-2-@(i + 1)" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
            else
            {
                <div class="row ml-1">
                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-saturday-1-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="saturday-1-1" type="text" class="form-control datetimepicker-input start-time" data-target="#dtp-saturday-1-1" />
                            <div class="input-group-append" data-target="#dtp-saturday-1-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>

                    <span class="col-md-1 justify-content-center">to</span>

                    <div class="form-group">
                        <div class="input-group date datetimepicker-time" id="dtp-saturday-2-1" data-target-input="nearest">
                            <input id="edit-recshift-endtime" name="saturday-2-1" type="text" class="form-control datetimepicker-input end-time" data-target="#dtp-saturday-2-1" />
                            <div class="input-group-append" data-target="#dtp-saturday-2-1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <input id="saturday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
    </div>
</div>
    <hr />
    <form method="post" class="col-md-2">
        <button class="btn btn-primary" asp-page-handler="SaveTimes">Submit Changes</button>
    </form>
</div>

<script src="~/js/availability.js"></script>

