@page
@using MHFoodBank.Common
@using MHFoodBank.Web.Areas.Admin.Pages
@model MHFoodBank.Web.Areas.Volunteer.Pages.ShiftRequestsModel
@{
    ViewData["Title"] = "ShiftRequests";
    Layout = "~/Areas/Volunteer/Pages/Shared/_Layout.cshtml";
}


    @*<div class="ml-5 mr-5">
        <div class="row justify-content-end">
            <form method="post">
                <button class="btn btn-primary w-100" asp-page-handler="Calendar">Request Shift Change</button>
            </form>
        </div>
        @if (Model.Alerts.Count == 0)
        {
            <hr />
            <h4>No Shift Requests</h4>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>Original Shift Date</th>
                    <th>Request</th>
                    <th>Status</th>
                </tr>
                @foreach (var alert in Model.Alerts)
                {
            <tr>
                <td>@alert.OriginalShift.StartDate.ToString("yyyy-MM-dd"), @alert.OriginalShift.StartTime.ToString(@"hh\:mm") to @alert.OriginalShift.EndTime.ToString(@"hh\:mm")</td>*@
                <!--Request To Change Shift-->
                @*@if (alert.RequestedShift != null)
                {
                    <td>Change to @alert.RequestedShift.StartDate.ToString("yyyy-MM-dd"), @alert.RequestedShift.StartTime.ToString(@"hh\:mm") to @alert.RequestedShift.EndTime.ToString(@"hh\:mm")</td>
                }
                else
                {
                    <td>Remove Shift</td>
                }
                @if (alert.Status == ShiftRequestAlert.RequestStatus.Pending)
                {
                    <td>Pending</td>
                }
                else
                {
                    @if (alert.Status == ShiftRequestAlert.RequestStatus.Accepted)
                    {
                        <td>Accepted</td>
                    }
                    else if (alert.Status == ShiftRequestAlert.RequestStatus.Declined)
                    {
                        <td>Declined</td>
                    }
                }
                
                    <td>
                        <form method="post">
                            @if (alert.Status != ShiftRequestAlert.RequestStatus.Pending)
                            {
                                <button class="btn btn-sm btn-danger" asp-page-handler="Delete" asp-route-id="@alert.Id">Delete</button>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-danger" asp-page-handler="Cancel" asp-route-id="@alert.Id">Cancel</button>
                            }
                        </form>
                </tr>
                }
            </table>
        }
    </div>*@


