@page
@using MHFoodBank.Web.Data.Models
@model RegisterModel
@{
    ViewData["Title"] = "Apply as a volunteer";
}

<div class="mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="row justify-content-center">
        <div class="col-md-9">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <!--Login Credentials-->
                <h3 class="mt-b">Personal and Contact Information</h3>
                <br />
                <div class="row justify-content-center">
                    <div class="col-md-6 form-group text-left">
                        <label asp-for="Credentials.Email"></label>
                        <input asp-for="Credentials.Email" class="form-control" />
                        <span asp-validation-for="Credentials.Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group text-left">
                        <label asp-for="Credentials.ConfirmEmail"></label>
                        <input asp-for="Credentials.ConfirmEmail" class="form-control" />
                        <span asp-validation-for="Credentials.ConfirmEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 form-group text-left">
                        <label asp-for="Credentials.Password"></label>
                        <input asp-for="Credentials.Password" class="form-control" />
                        <span asp-validation-for="Credentials.Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group text-left">
                        <label asp-for="Credentials.ConfirmPassword"></label>
                        <input asp-for="Credentials.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Credentials.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <!--Personal Information-->
                <div class="row justify-content-center">
                    <div class="col-md-6 form-group text-left">
                        <label asp-for="Volunteer.FirstName"></label>
                        <input asp-for="Volunteer.FirstName" class="form-control" />
                        <span asp-validation-for="Volunteer.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group text-left">
                        <label asp-for="Volunteer.LastName"></label>
                        <input asp-for="Volunteer.LastName" class="form-control" />
                        <span asp-validation-for="Volunteer.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!--Contact Information-->
                    <div class="col-md-12 form-group">
                        <label asp-for="Volunteer.Address"></label>
                        <input asp-for="Volunteer.Address" class="form-control" />
                        <span asp-validation-for="Volunteer.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 form-group text-left">
                        <label asp-for="Volunteer.City"></label>
                        <input asp-for="Volunteer.City" class="form-control" />
                        <span asp-validation-for="Volunteer.City" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group text-left">
                        <label asp-for="Volunteer.PostalCode"></label>
                        <input asp-for="Volunteer.PostalCode" class="form-control" />
                        <span asp-validation-for="Volunteer.PostalCode" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="Volunteer.Birthdate"></label>
                        <input asp-for="Volunteer.Birthdate" class="form-control" />
                        <span asp-validation-for="Volunteer.Birthdate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 form-group text-left">
                        <label asp-for="Volunteer.MainPhone"></label>
                        <input asp-for="Volunteer.MainPhone" class="form-control" />
                        <span asp-validation-for="Volunteer.MainPhone" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group text-left">
                        <label asp-for="Volunteer.AlternatePhone1"></label>
                        <input asp-for="Volunteer.AlternatePhone1" class="form-control" />
                        <span asp-validation-for="Volunteer.AlternatePhone1" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group text-left">
                        <label asp-for="Volunteer.AlternatePhone2"></label>
                        <input asp-for="Volunteer.AlternatePhone2" class="form-control" />
                        <span asp-validation-for="Volunteer.AlternatePhone2" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 form-group">
                        <label asp-for="Volunteer.EmergencyFullName"></label>
                        <input asp-for="Volunteer.EmergencyFullName" class="form-control" />
                        <span asp-validation-for="Volunteer.EmergencyFullName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group text-left">
                        <label asp-for="Volunteer.EmergencyPhone1"></label>
                        <input asp-for="Volunteer.EmergencyPhone1" class="form-control" />
                        <span asp-validation-for="Volunteer.EmergencyPhone1" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 form-group">
                        <label asp-for="Volunteer.EmergencyRelationship"></label>
                        <input asp-for="Volunteer.EmergencyRelationship" class="form-control" />
                        <span asp-validation-for="Volunteer.EmergencyRelationship" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group text-left">
                        <label asp-for="Volunteer.EmergencyPhone2"></label>
                        <input asp-for="Volunteer.EmergencyPhone2" class="form-control" />
                        <span asp-validation-for="Volunteer.EmergencyPhone2" class="text-danger"></span>
                    </div>
                </div>
                <hr class="mt-4 mb-4" />
                <!--Preferred Positions-->
                <h3 class="mt-b">Preferred Positions</h3>
                <br />
                @foreach (Position position in @Model.Positions)
                {
                    <div class="col-md-6 form-check">
                        <input type="checkbox" name="@position.Name" />
                        <label class="form-check-label">@position.Name</label>
                    </div>
                }
                <hr class="mt-4 mb-4" />
                <!--Certificate Checkboxes-->
                <H3 class="mt-3">Relevant Certificates</H3>
                <br />

                <div class="row mb-2">
                    <div class="col-md-4 form-check">
                        <input onclick="check()" asp-for="Volunteer.FirstAid" />
                        <label asp-for="Volunteer.FirstAid" class="form-check-label"></label>
                        <span asp-validation-for="Volunteer.FirstAid" class="text-danger"></span>
                    </div>

                    <div class="col-md-2"></div>

                    <p class="col-md-2">Expiry:</p>
                    <input id="date" class="col-md-4 form-control" asp-for="Volunteer.FirstAidExpiry" disabled />
                </div>

                <div class="row mb-2">
                    <div class="col-md-4 form-check">
                        <input onclick="check2()" asp-for="Volunteer.FoodSafe" />
                        <label asp-for="Volunteer.FoodSafe" class="form-check-label"></label>
                        <span asp-validation-for="Volunteer.FoodSafe" class="text-danger"></span>
                    </div>
                    <div class="col-md-2"></div>
                    <p class="col-md-2">Expiry:</p>
                    <input id="date2" class="col-md-4 form-control" asp-for="Volunteer.FoodSafeExpiry" disabled />
                </div>

                <div class="row mb-2">
                    <div class="col-md-4 form-check">
                        <input onclick="check3()" asp-for="Volunteer.Cpr" />
                        <label asp-for="Volunteer.Cpr" class="form-check-label"></label>
                        <span asp-validation-for="Volunteer.Cpr" class="text-danger"></span>
                    </div>
                    <div class="col-md-2"></div>
                    <p class="col-md-2">Expiry:</p>
                    <input id="date3" class="col-md-4 form-control" asp-for="Volunteer.CprExpiry" disabled />
                </div>

                <div class="form-group mt-4">
                    <label asp-for="Volunteer.OtherCertificates"></label>
                    <input asp-for="Volunteer.OtherCertificates" class="form-control" />
                    <span asp-validation-for="Volunteer.OtherCertificates" class="text-danger"></span>
                </div>

                <hr class="mt-4 mb-4" />
                <!--Availability-->
                <H3 class="mb-3">Availability</H3>
                <br />
            <span asp-validation-for="AvailabilityError" class="text-danger"></span>
            <div id="availability">
                    <label>Monday</label>
                    <div class="monday-fields">
                        <div class="row form-group ml-1">
                            <input name="monday-1-1" type="text" class="time start-time form-control col-md-2" />
                            <span class="col-md-1 justify-content-center">to</span>
                            <input name="monday-2-1" type="text" class="time end-time form-control col-md-2" />
                        </div>
                    </div>
                    <input id="monday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
                    <br />
                    <label>Tuesday</label>
                    <div class="tuesday-fields">
                        <div class="row form-group ml-1">
                            <input name="tuesday-1-1" type="text" class="time start-time form-control col-md-2" />
                            <span class="col-md-1 justify-content-center">to</span>
                            <input name="tuesday-2-1" type="text" class="time end-time form-control col-md-2" />
                        </div>
                    </div>
                    <input id="tuesday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
                    <br />
                    <label>Wednesday</label>
                    <div class="wednesday-fields">
                        <div class="row form-group ml-1">
                            <input name="wednesday-1-1" type="text" class="time start-time form-control col-md-2" />
                            <span class="col-md-1 justify-content-center">to</span>
                            <input name="wednesday-2-1" type="text" class="time end-time form-control col-md-2" />
                        </div>
                    </div>
                    <input id="wednesday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
                    <br />
                    <label>Thursday</label>
                    <div class="thursday-fields">
                        <div class="row form-group ml-1">
                            <input name="thursday-1-1" type="text" class="time start-time form-control col-md-2" />
                            <span class="col-md-1 justify-content-center">to</span>
                            <input name="thursday-2-1" type="text" class="time end-time form-control col-md-2" />
                        </div>
                    </div>
                    <input id="thursday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
                    <br />
                    <label>Friday</label>
                    <div class="friday-fields">
                        <div class="row form-group ml-1">
                            <input name="friday-1-1" type="text" class="time start-time form-control col-md-2" />
                            <span class="col-md-1 justify-content-center">to</span>
                            <input name="friday-2-1" type="text" class="time end-time form-control col-md-2" />
                        </div>
                    </div>
                    <input id="friday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
                    <br />
                    <label>Saturday</label>
                    <div class="saturday-fields">
                        <div class="row form-group ml-1">
                            <input name="saturday-1-1" type="text" class="time start-time form-control col-md-2" />
                            <span class="col-md-1 justify-content-center">to</span>
                            <input name="saturday-2-1" type="text" class="time end-time form-control col-md-2" />
                        </div>
                    </div>
                    <input id="saturday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" /><br />
                    <label>Sunday</label>
                    <div class="sunday-fields">
                        <div class="row form-group ml-1">
                            <input name="sunday-1-1" type="text" class="time start-time form-control col-md-2" />
                            <span class="col-md-1 justify-content-center">to</span>
                            <input name="sunday-2-1" type="text" class="time end-time form-control col-md-2" />
                        </div>
                    </div>
                    <input id="sunday" type="button" value="Add Another Time" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2" />
                </div>
                <!--Qualifications-->
                <hr class="mt-4 mb-4" />
                <h3 class="mb-3">Qualifications</h3>
                <br />
                <div class="form-group mt-3">
                    <label asp-for="Volunteer.EducationTraining"></label>
                    <textarea asp-for="Volunteer.EducationTraining" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Volunteer.EducationTraining" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Volunteer.SkillsInterestsHobbies"></label>
                    <textarea asp-for="Volunteer.SkillsInterestsHobbies" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Volunteer.SkillsInterestsHobbies" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Volunteer.VolunteerExperience"></label>
                    <textarea asp-for="Volunteer.VolunteerExperience" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Volunteer.VolunteerExperience" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Volunteer.OtherBoards"></label>
                    <textarea asp-for="Volunteer.OtherBoards" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Volunteer.OtherBoards" class="text-danger"></span>
                </div>
                <hr class="mt-4 mb-4" />
                <h3 class="mb-3">Previous Work Experience</h3>
                <br />
                <!--Add new fields dynamically here-->
                @for (int i = 0; i < 2; i++)
                {
                    <div class="mb-3">
                        <label>Employer @(i + 1) </label>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label asp-for="@Model.WorkExperiences[@i].EmployerName"></label>
                                <input asp-for="@Model.WorkExperiences[@i].EmployerName" class="form-control">
                                <span asp-validation-for="@Model.WorkExperiences[@i].EmployerName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="@Model.WorkExperiences[@i].EmployerPhone"></label>
                                <input asp-for="@Model.WorkExperiences[@i].EmployerPhone" class="form-control">
                                <span asp-validation-for="@Model.WorkExperiences[@i].EmployerPhone" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="@Model.WorkExperiences[@i].ContactPerson"></label>
                                <input asp-for="@Model.WorkExperiences[@i].ContactPerson" class="form-control">
                                <span asp-validation-for="@Model.WorkExperiences[@i].ContactPerson" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label asp-for="@Model.WorkExperiences[@i].PositionWorked"></label>
                                <input asp-for="@Model.WorkExperiences[@i].PositionWorked" class="form-control">
                                <span asp-validation-for="@Model.WorkExperiences[@i].PositionWorked" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label asp-for="@Model.WorkExperiences[@i].StartDate"></label>
                                <input asp-for="@Model.WorkExperiences[@i].StartDate" class="form-control">
                                <span asp-validation-for="@Model.WorkExperiences[@i].StartDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label asp-for="@Model.WorkExperiences[@i].EmployerAddress"></label>
                                <input asp-for="@Model.WorkExperiences[@i].EmployerAddress" class="form-control">
                                <span asp-validation-for="@Model.WorkExperiences[@i].EmployerAddress" class="text-danger"></span>
                            </div>
                            <div id="work-exp-@i" class="col-md-6 form-group">
                                <label asp-for="@Model.WorkExperiences[@i].EndDate"></label>
                                <input asp-for="@Model.WorkExperiences[@i].EndDate" class="form-control">
                            </div>
                            <div class="form-check col-md-12" style="text-align: right;">
                                <input id="work-exp-current-@i" onclick="makeWorkExperienceCurrent(@i)" asp-for="@Model.WorkExperiences[@i].CurrentJob" />
                                <label >Current Job</label>
                            </div>
                        </div>
                    </div>
                }
                <hr class="mt-4 mb-4" />
                <h3 class="mb-3">References</h3>
                <br />
                @for (int i = 0; i < 2; i++)
                {
                    <div class="mb-3">
                        <label>Reference @(i + 1) </label>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label asp-for="@Model.References[@i].Name"></label>
                                <input asp-for="@Model.References[@i].Name" class="form-control">
                                <span asp-validation-for="@Model.References[@i].Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label asp-for="@Model.References[@i].Phone"></label>
                                <input asp-for="@Model.References[@i].Phone" class="form-control">
                                <span asp-validation-for="@Model.References[@i].Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label asp-for="@Model.References[@i].Relationship"></label>
                                <input asp-for="@Model.References[@i].Relationship" class="form-control">
                                <span asp-validation-for="@Model.References[@i].Relationship" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label asp-for="@Model.References[@i].Occupation"></label>
                                <input asp-for="@Model.References[@i].Occupation" class="form-control">
                                <span asp-validation-for="@Model.References[@i].Occupation" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function makeWorkExperienceCurrent(workExpId) {

        // get the ids of the selected work experience elements
        var workExperienceCheckId = "work-exp-current-" + workExpId;
        var workExperienceEndDateId = "work-exp-" + workExpId;

        // get the elements using the ids
        var workExperienceCheck = document.getElementById(workExperienceCheckId);
        var workExperienceEndDate = document.getElementById(workExperienceEndDateId);

        // get all checkboxes that weren't selected
        var checkboxes = $('[id^="work-exp-current"]');

        // hide/show end date and other checkboxes based on checked value
        if (workExperienceCheck.checked === true) {
            workExperienceEndDate.style.display = 'none';
            workExperienceEndDate.value = "2050-01-01";

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked === false) {
                    checkboxes[i].parentElement.style.display = 'none'
                }
            }
        }
        else {
            workExperienceEndDate.style.display = 'block';

            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].parentElement.style.display = 'block'
            }
        }

        

        
    }

    function check() {
        if ($("#Volunteer_FirstAid").prop("checked") == true) {
            $('#date').prop('disabled', false);
        }
        else if ($("#Volunteer_FirstAid").prop("checked") == false) {
            $('#date').prop('disabled', true);
            $('#date').prop('value', '');
        }
    }

    function check2() {
        if ($("#Volunteer_FoodSafe").prop("checked") == true) {
            $('#date2').prop('disabled', false);
        }
        else if ($("#Volunteer_FoodSafe").prop("checked") == false) {
            $('#date2').prop('disabled', true);
            $('#date2').prop('value', '');
        }
    }

    function check3() {
        if ($("#Volunteer_Cpr").prop("checked") == true) {
            $('#date3').prop('disabled', false);
        }
        else if ($("#Volunteer_Cpr").prop("checked") == false) {
            $('#date3').prop('disabled', true);
            $('#date3').prop('value', '');
        }
    }

</script>