@page
@using MHFoodBank.Common
@model PersonalInformationModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.PersonalInformation;
}

<form method="post">
    <div class="ml-5">
        <h4 class="col-md-6">Personal Information</h4>
        <partial name="_StatusMessage" for="StatusMessage" />
        <hr />
        <div class="row col-md-12">
            <dl class="row col-md-6">
                <dt class="col-md-5 mb-1">Email:</dt>
                <dd class="col-md-7 row mb-1"><input class="form-control col-md-12" value="@Model.PersonalInfo.Email" asp-for="@Model.PersonalInfo.Email" /><span asp-validation-for="@Model.PersonalInfo.Email" class="text-danger"></span></dd>
                <dt class="col-md-5 mb-1">Main Phone:</dt>
                <dd class="col-md-7 row mb-1"><input class="form-control col-md-12" value="@Model.PersonalInfo.MainPhone" asp-for="@Model.PersonalInfo.MainPhone" /><span asp-validation-for="@Model.PersonalInfo.MainPhone" class="text-danger"></span></dd>
                <dt class="col-md-5 mb-1">Alternate Phone 1:</dt>
                <dd class="col-md-7 row mb-1"><input class="form-control col-md-12" value="@Model.PersonalInfo.AlternatePhone1" asp-for="@Model.PersonalInfo.AlternatePhone1" /><span asp-validation-for="@Model.PersonalInfo.AlternatePhone1" class="text-danger"></span></dd>
                <dt class="col-md-5 mb-1">Alternate Phone 2:</dt>
                <dd class="col-md-7 row mb-1"><input class="form-control col-md-12" value="@Model.PersonalInfo.AlternatePhone2" asp-for="@Model.PersonalInfo.AlternatePhone2" /><span asp-validation-for="@Model.PersonalInfo.AlternatePhone2" class="text-danger"></span></dd>
            </dl>
            <dl class="row col-md-6">
                <dt class="col-md-5 mb-1">Address:</dt>
                <dd class="col-md-7 row mb-1"><input type="text" class="form-control col-md-12" value="@Model.PersonalInfo.Address" asp-for="@Model.PersonalInfo.Address" /><span asp-validation-for="@Model.PersonalInfo.Address" class="text-danger"></span></dd>
                <dt class="col-md-5 mb-1 ">City:</dt>
                <dd class="col-md-7 row mb-1"><input type="text" class="form-control col-md-12" value="@Model.PersonalInfo.City" asp-for="@Model.PersonalInfo.City" /><span asp-validation-for="@Model.PersonalInfo.City" class="text-danger"></span></dd>
                <dt class="col-md-5 mb-1 ">Postal Code:</dt>
                <dd class="col-md-7 row mb-1"><input class="form-control col-md-12" value="@Model.PersonalInfo.PostalCode" asp-for="@Model.PersonalInfo.PostalCode" /><span asp-validation-for="@Model.PersonalInfo.PostalCode" class="text-danger"></span></dd>
            </dl>
        </div>
        <hr class="mt-2 mb-4" />
        <div class="row col-md-12">
            <dl class="row col-md-6 mb-4">
                <dt class="col-md-6 mb-1">Emergency Contact Name:</dt>
                <dd class="col-md-6 mb-1 row"><input class="form-control col-md-12" asp-for="@Model.PersonalInfo.EmergencyName" value="@Model.PersonalInfo.EmergencyName" /><span asp-validation-for="@Model.PersonalInfo.EmergencyName" class="text-danger"></span></dd>
                <dt class="col-md-6 mb-1">Relationship to Emergency Contact</dt>
                <dd class="col-md-6 mb-1 row"><input class="form-control col-md-12" asp-for="@Model.PersonalInfo.EmergencyRelationship" value="@Model.PersonalInfo.EmergencyRelationship" /><span asp-validation-for="@Model.PersonalInfo.EmergencyRelationship" class="text-danger"></span></dd>
                <dt class="col-md-6 mb-1">Emergency Phone 1:</dt>
                <dd class="col-md-6 mb-1 row"><input class="form-control col-md-12" asp-for="@Model.PersonalInfo.EmergencyPhone1" value="@Model.PersonalInfo.EmergencyPhone1" /><span asp-validation-for="@Model.PersonalInfo.EmergencyPhone1" class="text-danger"></span></dd>
                <dt class="col-md-6 mb-1">Emergency Phone 2:</dt>
                <dd class="col-md-6 mb-1 row"><input class="form-control col-md-12" asp-for="@Model.PersonalInfo.EmergencyPhone2" value="@Model.PersonalInfo.EmergencyPhone2" /><span asp-validation-for="@Model.PersonalInfo.EmergencyPhone2" class="text-danger"></span></dd>
            </dl>
            <div class="col-md-6 row">
                <dl class="col-md-5"><dt>Preferred Positions:</dt></dl>
                <div class="col-md-7">
                    @foreach (Position position in @Model.Positions)
                    {
                        <div class="form-check row mb-1">
                            @if (@Model.PersonalInfo.Positions.Any(p =>
                          p.Position == position &&
                          p.Association != PositionVolunteer.AssociationType.Assigned))
                            {
                                <input class="mr-3" type="checkbox" name="preferred-@position.Name" checked />
                            }
                            else
                            {
                                <input class="mr-3" type="checkbox" name="preferred-@position.Name" />
                            }
                            <label for="@position.Name">@position.Name</label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <h4 class="col-md-6 mt-2">Certificates</h4>
        <hr class="mt-2 mb-4" />
        <div id="cert-container">
            <div id="firstaid" class="row">
                <div class="col-4">
                    <input id="firstaid-check" class="ml-3" onclick="toggleCertificates('firstaid-check', ['firstaid-date', 'firstaid-level'], 'firstaid-container')" value="@Model.PersonalInfo.FirstAidCpr" asp-for="PersonalInfo.FirstAidCpr" />
                    <label asp-for="PersonalInfo.FirstAidCpr" class="form-check-label">First aid/Cpr</label>
                </div>

                <div class="d-none" id="firstaid-container">
                    <div class="col-7">
                        <label>Expiry:</label>
                        <input class="form-control" id="firstaid-date" asp-for="PersonalInfo.FirstAidCprExpiry" value="@Model.PersonalInfo.FirstAidCprExpiry?.ToString("yyyy-MM-dd")" disabled />
                    </div>
                    <div class="col-5">
                        <label asp-for="@Model.PersonalInfo.FirstAidCprLevel">Level:</label>
                        <input class="form-control" id="firstaid-level" type="text" asp-for="@Model.PersonalInfo.FirstAidCprLevel" value="@Model.PersonalInfo.FirstAidCprLevel" disabled />
                    </div>
                </div>
            </div>
            <div id="foodsafe" class="row mt-2">
                <div class="col-4">
                    <input id="foodsafe-check" class="ml-3" onclick="toggleCertificates('foodsafe-check', ['foodsafe-date'], 'foodsafe-container')" value="@Model.PersonalInfo.FoodSafe" asp-for="PersonalInfo.FoodSafe" />
                    <label asp-for="PersonalInfo.FoodSafe" class="form-check-label">Food Safe</label>
                </div>
                <div class="d-none" id="foodsafe-container">
                    <div class="col-7">
                        <label>Expiry:</label>
                        <input id="foodsafe-date" class="form-control" asp-for="PersonalInfo.FoodSafeExpiry" value="@Model.PersonalInfo.FoodSafeExpiry?.ToString("yyyy-MM-dd")" disabled />
                    </div>
                </div>
            </div>
            <div id="other-certs" class="form-group">
                <label>Other Certificates</label>
                <textarea class="form-control" rows="2" asp-for="@Model.PersonalInfo.OtherCertificates" value="@Model.PersonalInfo.OtherCertificates"></textarea>
            </div>
        </div>
        <hr class="mt-2 mb-4" />
        <button class="btn-primary btn" asp-page-handler="SaveChanges">Save Changes</button>
    </div>
</form>
<script src="~/js/checkboxes.js"></script>
<script>
    toggleCertificates('firstaid-check', ['firstaid-date', 'firstaid-level'], 'firstaid-container');
    toggleCertificates('foodsafe-check', ['foodsafe-date'], 'foodsafe-container');
</script>

