@page
@using MHFoodBank.Web.Data.Models
@using MHFoodBank.Web.Dtos
@using System.Web
@model MHFoodBank.Web.Areas.Admin.Pages.AdminCalendar
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Admin Calendar";
}

<script src="~/js/admincalendar_events_recurring.js"></script>
<script src="~/js/admincalendar_ui.js"></script>
<script src="~/js/admincalendar_events_main.js"></script>
<script src="~/js/admincalendar_events_single.js"></script>

<script>
    $('.shift-form').validate();

    // calendar stuff
    document.addEventListener('DOMContentLoaded', function () {
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'local',
            height: 725,
            nowIndicator: true,
            plugins: ['interaction', 'dayGrid', 'timeGrid', 'list', 'rrule'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectMirror: true,
            allDaySlot: false,
            firstDay: 0,
            eventClick: function (shiftInfo) {
                handleEventClick(shiftInfo)
            },
            select: function (arg) {
                $('#add-shift-modal').modal();
                selectedShiftStartDate = new Date(arg.start);
                selectedShiftEndDate = new Date(arg.end);
                document.getElementById("add-shift-date").value = selectedShiftStartDate.getFullYear() + "-" + appendLeadingZeroes(selectedShiftStartDate.getMonth() + 1) + "-" + appendLeadingZeroes(selectedShiftStartDate.getDate());

                if (arg.startStr.indexOf('T') < 0 || arg.endStr.indexOf('T') < 0) {
                    // if an initial time isn't given via drag controls, set default times
                    document.getElementById("add-shift-starttime").value = "8:30";
                    document.getElementById("add-shift-endtime").value = "16:30";
                }
                else {
                    document.getElementById("add-shift-starttime").value = appendLeadingZeroes(selectedShiftStartDate.getHours()) + ":" + appendLeadingZeroes(selectedShiftStartDate.getMinutes());
                    document.getElementById("add-shift-endtime").value = appendLeadingZeroes(selectedShiftEndDate.getHours()) + ":" + appendLeadingZeroes(selectedShiftEndDate.getMinutes());
                }
                
                calendar.unselect();
            },
            weekNumbers: true,
            weekNumbersWithinDays: true,
            weekNumberCalculation: 'ISO',
            eventLimit: true, // allow "more" link when too many events
            eventSources: [
                {
                    events: [
                        @foreach (ShiftReadEditDto s in Model.Shifts.Where(s => s.Volunteer != null))
                        {
                            <text>
                                {
                                    id: '@s.Id',
                                    title: '@s.Description',
                                    @if (s is RecurringShiftReadEditDto recShift)
                                    {
                                        <text>
                                    // rrule converts the end date into utc here, so a one day offset is applied, see line 90 in RecurringShift.cs
                                            rrule: '@recShift.RecurrenceRule',
                                            duration: '@((recShift.EndTime - recShift.StartTime).ToString())',
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            start: '@s.StartDate.ToString("yyyy-MM-dd")@{string y = "T";@y}@s.StartTime',
                                            end: '@s.StartDate.ToString("yyyy-MM-dd")@y@s.EndTime',
                                        </text>
                                    }

                                    posWorked: '@(s.PositionWorked.Id)',
                                    vol: '@s.Volunteer.Id',
                                    // this is set so that the recurring shift modal is displayed even though this is an individual shift
                                    wasPartOfRecurring: '@s.ParentRecurringShift'

                                },
                            </text>
                        }
                    ],
                },
                {
                    events: [
                        @foreach (ShiftReadEditDto s in Model.Shifts.Where(s => s.Volunteer == null))
                            {
                            <text>
                                {
                                    id: '@s.Id',
                                    title: '@s.Description',
                                    @if (s is RecurringShiftReadEditDto recShift)
                                    {
                                        <text>
                                            rrule: '@recShift.RecurrenceRule',
                                            duration: '@((recShift.EndTime - recShift.StartTime).ToString())',
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            start: '@s.StartDate.ToString("yyyy-MM-dd")@{string y = "T"; @y}@s.StartTime',
                                            end: '@s.StartDate.ToString("yyyy-MM-dd")@y@s.EndTime',
                                        </text>
                                    }
                                    posWorked: '@(s.PositionWorked.Id)',
                                    vol: 'Open',
                                    wasPartOfRecurring: '@s.ParentRecurringShift'
                                },
                            </text>
                            }
                    ],
                    color: '#06A893',
                }
            ],
            eventTimeFormat: {
                hour: "2-digit",
                minute: "2-digit",
                meridiem: false,
                hour12: false
            }
        });
        calendar.render();
        $('#calendar').addClass("h-75");
    });

</script>
<div class="ml-5 mr-5">
    <partial name="_AdminStatusMessage" for="StatusMessage" />
    <form method="post" id="container">
        @if (String.IsNullOrWhiteSpace(Model.SearchedName))
        {
            <input id="search-name" class="form-control" placeholder="Search by name..." asp-for="@Model.SearchedName" />
        }
        else
        {
            <input id="search-name" class="form-control" value="@Model.SearchedName" asp-for="@Model.SearchedName" />
        }

        @if (@Model.SearchedPosition == null)
        {
            <select id="search-position" class="form-control" asp-items="@(new SelectList(Model.Positions, "Id", "Name", Model.DefaultPosition.Id))" asp-for="@Model.SearchedPosition.Id" id="cmbPositions" name="searchedposition" required>
            </select>
        }
        else
        {
            <select id="search-position" class="form-control" asp-items="@(new SelectList(Model.Positions, "Id", "Name", Model.SearchedPosition.Id))" asp-for="@Model.SearchedPosition.Id" id="cmbPositions" name="searchedposition" required>
            </select>
        }
        <button id="search" class="btn btn-primary" asp-page-handler="Search"><i class="fas fa-search"></i></button>
        <button id="email" asp-page-handler="SendNotifications" class="btn btn-primary">Send Email</button>
        <div id="add-shift" onclick="$('#add-shift-modal').modal();" class="btn btn-primary"><i class="fas fa-plus"></i> Shift</div>
        <div id="add-position" onclick="$('#add-position-modal').modal();" class="btn btn-primary"><i class="fas fa-plus"></i> Position</div>
        <div id="remove-position" onclick="$('#edit-position-modal').modal();" class="btn btn-primary">
            <i class="fa fa-edit"></i> Positions
        </div>
    </form>
    <hr />
    <div id='calendar'></div>
</div>


<!--modal for adding a new position-->
<form class="shift-form" method="post">
    <div id="add-position-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title">Add Position</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <label style="margin-top: 3px; padding-right: 10px;" for="position-add">New Name for Position</label>
                    <input type="text" class="form-control" id="add-position-name" name="add-position-name" required>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" asp-page-handler="AddPosition">Add</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--modal for adding a new position-->
<form class="shift-form" method="post">
    <div id="edit-position-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title">Remove Position</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <label style="margin-top: 3px; padding-right: 10px;" for="edit-position-original">Position</label>
                    <select class="form-control"
                            asp-items="@(new SelectList(Model.Positions.Where(p => p.Name != "All"), "Id", "Name"))"
                            id="edit-position-original"
                            name="edit-position-original"
                            required>
                    </select>
                    <br />
                    <label style="margin-top: 3px; padding-right: 10px;" for="">Position Name</label>
                    <input type="text" class="form-control" id="edit-position-name" name="edit-position-name">
                </div>
                <hr />
                <div class="modal-footer">
                    <button class="btn btn-primary" asp-page-handler="EditPosition">Submit Changes</button>
                    <button class="btn btn-danger" asp-page-handler="RemovePosition">Remove</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--modal for adding a shift-->
<form class="shift-form" method="post">
    <div id="add-shift-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title">Add Shift</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <label style="margin-top: 3px; padding-right: 10px;" for="add-shift-date">Shift Date</label>
                    <input type="date" class="form-control" id="add-shift-date" asp-for="@Model.SelectedShift.StartDate">
                    <br />
                    <div>
                        <input onclick="toggleAddRecurringShiftControls()" type="checkbox" id="add-recshift-display" name="dateRecurr">
                        <label class="form-check-label" for="dateRecurr">Make this shift a recurring shift</label>
                    </div>
                    <hr />
                    <div id="add-recshift-container" style="display: none">

                        <label style="margin-top: 3px; padding-right: 10px;" for="add-recshift-enddate">End Date</label>
                        <input type="date" class="form-control" id="add-recshift-enddate" asp-for="@Model.SelectedShift.EndDate">

                        <hr />

                        <label id="lblSelectDays" style="margin-top: 3px; padding-right: 10px;">Select Days of Week</label>
                        <div class="col-md-6 form-check">
                            <input id="add-recshift-weekday-sunday" asp-for="Sunday" />
                            <label class="form-check-label">Sunday</label>
                        </div>
                        <div class="col-md-6 form-check">
                            <input id="add-recshift-weekday-monday" asp-for="Monday" />
                            <label class="form-check-label">Monday</label>
                        </div>
                        <div class="col-md-6 form-check">
                            <input id="add-recshift-weekday-tuesday" asp-for="Tuesday" />
                            <label class="form-check-label">Tuesday</label>
                        </div>
                        <div class="col-md-6 form-check">
                            <input id="add-recshift-weekday-wednesday" asp-for="Wednesday" />
                            <label class="form-check-label">Wednesday</label>
                        </div>
                        <div class="col-md-6 form-check">
                            <input id="add-recshift-weekday-thursday" asp-for="Thursday" />
                            <label class="form-check-label">Thursday</label>
                        </div>
                        <div class="col-md-6 form-check">
                            <input id="add-recshift-weekday-friday" asp-for="Friday" />
                            <label class="form-check-label">Friday</label>
                        </div>
                        <div class="col-md-6 form-check">
                            <input id="add-recshift-weekday-saturday" asp-for="Saturday" />
                            <label class="form-check-label">Saturday</label>
                        </div>
                        <hr />
                    </div>
                    <label style="margin-top: 3px; padding-right: 10px;">Start Time</label>
                    <input type="text" class="time form-control" id="add-shift-starttime" asp-for="@Model.SelectedShift.StartTime" required>
                    <br />
                    <label style="margin-top: 3px; padding-right: 10px;">End Time</label>
                    <input type="text" class="time form-control" id="add-shift-endtime" asp-for="@Model.SelectedShift.EndTime" required>
                    <hr />
                    <div>
                        <input id="open-shift-add" type="checkbox" onclick="setShiftAsOpenAdd()" />
                        <label class="form-check-label">Make this shift open</label>
                    </div>
                    <br />
                    <div id="volunteer-container-add">
                        <label style="margin-top: 3px; padding-right: 10px;">Select Volunteer</label>
                        <select class="form-control"
                                id="add-shift-volunteer"
                                asp-items="@(new SelectList(Model.Volunteers, "Id", "FullNameWithID"))"
                                asp-for="@Model.SelectedVolunteerId"
                                required>
                        </select>
                    </div>
                    <hr />
                    <label style="margin-top: 3px; padding-right: 10px;">Position Worked</label>
                    <select class="form-control"
                            asp-items="@(new SelectList(Model.Positions.Where(p => p.Name != "All"), "Id", "Name"))"
                            id="add-shift-position"
                            asp-for="@Model.SelectedPositionId"
                            required>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="add-recshift-submit" style="display: none;" class="btn btn-primary" asp-page-handler="AddRecurringShift">Add</button>
                    <button id="add-shift-submit" class="btn btn-primary" asp-page-handler="AddShift">Add</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--modal for editing a shift-->
<form class="shift-form" method="post">
    <div id="edit-shift-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Shift</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <input type="hidden" id="edit-shift-id" asp-for="@Model.SelectedShift.Id">
                    <label style="margin-top: 3px; padding-right: 10px;">Shift Date</label>
                    <input asp-for="@Model.SelectedShift.StartDate" type="date" class="form-control" id="edit-shift-date" required>

                    <hr />

                    <label style="margin-top: 3px; padding-right: 10px;">Start Time</label>
                    <input asp-for="@Model.SelectedShift.StartTime" type="text" class="time form-control" id="edit-shift-starttime" required>

                    <hr />

                    <label style="margin-top: 3px; padding-right: 10px;">End Time</label>
                    <input asp-for="@Model.SelectedShift.EndTime" type="text" class="time form-control" id="edit-shift-endtime" value="" required>

                    <hr />
                    <label style="margin-top: 3px; padding-right: 10px;">Position Worked</label>
                    <select class="form-control"
                            asp-items="@(new SelectList(Model.Positions.Where(p => p.Name != "All"), "Id", "Name"))"
                            id="edit-shift-position"
                            asp-for="@Model.SelectedPositionId"
                            required>
                    </select>
                    <hr />
                    <div>
                        <input id="open-shift-edit" type="checkbox" onclick="setShiftAsOpenEdit()" />
                        <label class="form-check-label">Make shift open</label>
                    </div>
                    <br />
                    <div id="volunteer-container-edit">
                        <label style="margin-top: 3px; padding-right: 10px;">Select Volunteer</label>
                        <select class="form-control"
                                id="edit-shift-volunteer"
                                asp-items="@(new SelectList(Model.Volunteers, "Id", "FullNameWithID"))"
                                asp-for="@Model.SelectedVolunteerId"
                                required>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" asp-page-handler="EditShift">Submit Change</button>
                    <div class="btn btn-danger" id="edit-shift-delete-prompt" onclick="$('#edit-recshift-single-confirm').modal()">Delete</div>
                    <button class="btn btn-danger" id="edit-shift-delete-noprompt" asp-page-handler="DeleteShift">Delete</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--modal for editing a recurring shift-->
<form class="shift-form" method="post">
    <div id="edit-recshift-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Recurring Shift</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="edit-recshift-id" asp-for="@Model.SelectedShift.Id">
                    <label id="edit-recshift-startdate-label" style="margin-top: 3px; padding-right: 10px;">Shift Date</label>
                    <input type="date" class="form-control" id="edit-recshift-single-final-startdate" asp-for="@Model.SelectedShift.StartDate" required>
                    <input type="hidden" id="edit-recshift-single-initial-startdate" asp-for="@Model.SelectedShift.StartDate" required>
                    <input type="date" class="form-control" id="edit-recshift-all-startdate" style="display: none;" asp-for="@Model.SelectedShift.StartDate" required>

                    <hr />

                    <div>
                        <input onclick="toggleEditRecurringShiftControls()" type="radio" id="edit-recshift-display-single" asp-for="@Model.EditType" value="0" checked>
                        <label style="display: inline;" class="form-check-label">Selected Shift</label>
                        <input onclick="toggleEditRecurringShiftControls()" type="radio" id="edit-recshift-display-all" asp-for="@Model.EditType" value="1">
                        <label style="display: inline;" class="form-check-label">All Shifts</label>
                    </div>

                    <hr />

                    <div id="edit-recshift-container" style="display: none">

                        <label style="margin-top: 3px; padding-right: 10px;">End Recurring Set Date</label>
                        <input type="date" class="form-control" id="edit-recshift-enddate" asp-for="@Model.SelectedShift.EndDate" required>

                        <hr />

                        <label margin-top: 3px; padding-right: 10px;">Select Days of Week</label>

                        <div class="col-md-6 form-check">
                            <input id="edit-recshift-weekday-sunday" asp-for="Sunday" />
                            <label class="form-check-label">Sunday</label>
                        </div>

                        <div class="col-md-6 form-check">
                            <input id="edit-recshift-weekday-monday" asp-for="Monday" />
                            <label class="form-check-label">Monday</label>
                        </div>

                        <div class="col-md-6 form-check">
                            <input id="edit-recshift-weekday-tuesday" asp-for="Tuesday" />
                            <label class="form-check-label">Tuesday</label>
                        </div>

                        <div class="col-md-6 form-check">
                            <input id="edit-recshift-weekday-wednesday" asp-for="Wednesday" />
                            <label class="form-check-label">Wednesday</label>
                        </div>

                        <div class="col-md-6 form-check">
                            <input id="edit-recshift-weekday-thursday" asp-for="Thursday" />
                            <label class="form-check-label">Thursday</label>
                        </div>

                        <div class="col-md-6 form-check">
                            <input id="edit-recshift-weekday-friday" asp-for="Friday" />
                            <label class="form-check-label">Friday</label>
                        </div>

                        <div class="col-md-6 form-check">
                            <input id="edit-recshift-weekday-saturday" asp-for="Saturday" />
                            <label class="form-check-label">Saturday</label>
                        </div>

                        <hr />
                    </div>

                    <label style="margin-top: 3px; padding-right: 10px;">Start Time</label>
                    <input type="text" class="time form-control" id="edit-recshift-starttime" asp-for="@Model.SelectedShift.StartTime" required>

                    <hr />

                    <label style="margin-top: 3px; padding-right: 10px;">End Time</label>
                    <input type="text" class="time form-control" id="edit-recshift-endtime" asp-for="@Model.SelectedShift.EndTime" required>

                    <hr />
                    <label style="margin-top: 3px; padding-right: 10px;">Position Worked</label>
                    <select class="form-control"
                            asp-items="@(new SelectList(Model.Positions.Where(p => p.Name != "All"), "Id", "Name"))"
                            id="edit-recshift-position"
                            asp-for="@Model.SelectedPositionId"
                            required>
                    </select>
                    <hr />
                    <div>
                        <input id="open-shift-edit-rec" type="checkbox" onclick="setRecurringShiftAsOpen()" />
                        <label class="form-check-label">Make shift open</label>
                    </div>
                    <br />
                    <div id="volunteer-container-edit-rec">
                        <label style="margin-top: 3px; padding-right: 10px;">Select Volunteer</label>
                        <select class="form-control"
                                id="edit-recshift-volunteer"
                                asp-items="@(new SelectList(Model.Volunteers, "Id", "FullNameWithID"))"
                                asp-for="@Model.SelectedVolunteerId"
                                required>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" asp-page-handler="EditRecurringShift">Submit Change</button>
                    <button class="btn btn-danger" asp-page-handler="DeleteRecurringShift">Delete</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--modal for choosing between deleting a individual shift from a recurring set or deleting the entire set-->
<form class="shift-form" method="post">
    <input type="hidden" id="delete-recshift-single-confirm-id" name="delete-recshift-single-confirm-id" />
    <div id="delete-recshift-single-confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title">Attention</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <p>This shift is part of a recurring set of shifts.</p>
                    <p>Would you like to delete this shift only or delete the entire set it belongs to?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" asp-page-handler="RestoreShiftPropertiesToOriginal">Restore Properties</button>
                    <button class="btn btn-danger" asp-page-handler="DeleteShiftFromRecurringSet">Delete</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--modal for choosing between deleting a individual recshift completely or returning it to original-->
<form class="shift-form" method="post">
    <input type="hidden" id="edit-recshift-single-confirm-id" name="edit-recshift-single-confirm-id" />
    <div id="edit-recshift-single-confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title">Attention</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <p>This shift is part of a recurring set of shifts but its properties were changed from their original values.</p>
                    <p>Would you like to completely delete this shift or restore its original properties?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" asp-page-handler="RestoreShiftPropertiesToOriginal">Restore Properties</button>
                    <button class="btn btn-danger" asp-page-handler="DeleteShiftFromRecurringSet">Delete</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
