@page
@using MHFoodBank.Common
@using MHFoodBank.Common.Dtos 
@inject Microsoft.AspNetCore.Identity.UserManager<MHFoodBank.Common.AppUser> userManager
@model MHFoodBank.Web.Areas.Admin.Pages.MainModel
@{ Layout = "Shared/_Layout";
                ViewData["Title"] = "Volunteers"; }

    <style>
        #container {
            display: grid;
            grid-template-columns: 2fr 2fr 1fr 5fr;
            grid-template-rows: auto;
            grid-template-areas: "search-name search-position search-button .";
/*            gap: .5rem;*/
        }

        @@media (min-width: 1800px) {
            
        }

        @@media (min-width: 1370px) {
            .volunteer-table {
                width: 75%;
            }
        }

        @@media (max-width: 1369px) {
            .volunteer-table {
                width: 100%
            }

            #container {
                display: grid;
                grid-template-columns: 2fr 2fr 1fr;
                grid-template-rows: auto;
                grid-template-areas: "search-name search-position search-button";
/*                gap: .5rem;*/
            }
        }

        #search-name {
            grid-area: search-name;
        }

        #search-position {
            grid-area: search-position;
        }

        #search-button {
            grid-area: search-button;
        }
    </style>

<div class="ml-5 mr-5">
    <form id="container" class="mb-3" method="post">
        @if (String.IsNullOrWhiteSpace(Model.SearchedName))
        {
            <input id="search-name" class="form-control" placeholder="Search by name..." asp-for="@Model.SearchedName" />
        }
        else
        {
            <input id="search-name" class="form-control" value="@Model.SearchedName" asp-for="@Model.SearchedName" />
        }

        @if (@Model.SearchedPosition == null)
        {
            <select id="search-position" class="form-control" asp-items="@(new SelectList(Model.Positions, "Id", "Name", Model.DefaultPosition.Id))" asp-for="@Model.SearchedPosition.Id" required>
            </select>
        }
        else
        {
            <select id="search-position" class="form-control" asp-items="@(new SelectList(Model.Positions, "Id", "Name", Model.SearchedPosition.Id))" asp-for="@Model.SearchedPosition.Id" required>
            </select>
        }
        <button id="search" class="btn btn-sm btn-primary" asp-page-handler="Search"><i class="fas fa-search"></i></button>
    </form>
    @if (@Model.Volunteers.Count() > 0)
    {
        <table class="table volunteer-table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Details</th>
                    @if (await userManager.IsInRoleAsync(await userManager.FindByIdAsync(userManager.GetUserId(User)), "Admin"))
                    {
                        <th>Delete</th>                    
                    }
                </tr>
            </thead>
        @foreach (VolunteerMinimalDto volunteer in Model.Volunteers)
        {
            <tr>
                <td>@volunteer.FirstName</td>
                <td>@volunteer.LastName</td>
                <td><a class="btn-link" asp-page="/VolunteerDetails" asp-area="Admin" asp-route-id="@volunteer.Id">See Details</a><input type="hidden" value="@volunteer.Id" id="volunteer-id" /></td>
                @if (await userManager.IsInRoleAsync(await userManager.FindByIdAsync(userManager.GetUserId(User)), "Admin"))
                {
                    //Delete button goes here
                    <td><a class="btn-link" href="#" onclick="openDeleteModal()">Delete</a></td>
                }
            </tr>
        }
        </table>
    }
</div>

<script>
    function openDeleteModal() {
        $('#delete-volunteer-prompt').modal();
        document.getElementById("volunteer-id-modal").value = document.getElementById("volunteer-id").value;
    }
</script>

<form method="post">
    <div id="delete-volunteer-prompt" class="modal fade">
        <input type="hidden" asp-for="@Model.Volunteer.Id" id="volunteer-id-modal" value="" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title">Attention</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <p>You are about to delete a volunteer from the Medicine Hat Food Bank. This will also delete everything that is attached to this volunteer. All of the shifts that are assigned to this volunteer will be changed to open shifts.</p>
                    <p>Would you like to permanently delete this volunteer?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" asp-page-handler="DeleteVolunteer">Delete</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
