@page
@model MHFoodBank.Web.Areas.Admin.Pages.TimeClockModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Time Sheets";
}

@section Styles {
    <link href="~/css/timeclock_header.css" rel="stylesheet" />
    <link href="~/css/timeclock_modal.css" rel="stylesheet" />
}

<div class="ml-5 mr-5">
    <partial name="_AdminStatusMessage" for="StatusMessage" />
    <form method="post" id="container">
        @if (String.IsNullOrWhiteSpace(Model.SearchedName))
        {
            <input id="search-name" class="form-control" placeholder="Search by name..." asp-for="@Model.SearchedName" />
        }
        else
        {
            <input id="search-name" class="form-control" value="@Model.SearchedName" asp-for="@Model.SearchedName" />
        }

        <div class="form-group">
            <div class="input-group date datetimepicker-datetime" id="dtp-timeclock-range-start" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" value="@Model.SearchedStartDate" asp-for="@Model.SearchedStartDate" data-target="#datetimepicker" />
                <div class="input-group-append" data-target="#dtp-timeclock-range-start" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>

        <div class="centered" id="date-separator"><span>-</span></div>

        <div class="form-group">
            <div class="input-group date datetimepicker-datetime" id="dtp-timeclock-range-end" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" value="@Model.SearchedStartDate" asp-for="@Model.SearchedStartDate" data-target="#datetimepicker" />
                <div class="input-group-append" data-target="#dtp-timeclock-range-end" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>

        @if (@Model.SearchedPosition == null)
        {
            <select id="search-position" class="form-control" asp-items="@(new SelectList(Model.Positions, "Id", "Name", Model.DefaultPosition.Id))" asp-for="@Model.SearchedPosition.Id" required>
            </select>
        }
        else
        {
            <select id="search-position" class="form-control" asp-items="@(new SelectList(Model.Positions, "Id", "Name", Model.SearchedPosition.Id))" asp-for="@Model.SearchedPosition.Id" required>
            </select>
        }
        <button id="search-button" class="btn btn-primary" asp-page-handler="Search"><i class="fas fa-search"></i></button>
        <div id="add-time" onclick="$('#add-time-modal').modal()" class="btn btn-primary"><i class="fas fa-plus"></i> Entry</div>
        <button id="save-changes" asp-page-handler="SaveChanges" class="btn btn-primary">Save Changes</button>
    </form>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Volunteer</th>
                <th>Position</th>
                <th>Date</th>
                <th>Start</th>
                <th>End</th>
                <th>Duration</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var ct in Model.ClockedTimes)
        {
            <tr>
                <td>
                    <input id="entry-id-@ct.Id" type="hidden" value="@ct.Id" />
                    <select class="form-control"
                            id="entry-volunteer-@ct.Id"
                            asp-items="@(new SelectList(Model.Volunteers, "Id", "FullNameWithID"))"
                            disabled>
                    </select>
                </td>
                <td>
                    <select id="entry-position-@ct.Id" class="form-control" asp-items="@(new SelectList(Model.Positions, "Id", "Name", Model.DefaultPosition.Id))" disabled>
                    </select>
                </td>
                <td><input id="entry-date-@ct.Id" class="form-control" value="@ct.StartTime.ToString("yyyy-MM-dd")" readonly /></td>
                <td><input id="entry-starttime-@ct.Id" class="form-control" value="@ct.StartTime.TimeOfDay.ToString(@"hh\:mm")" readonly /></td>
                <td><input id="entry-endttime-@ct.Id" class="form-control" value="@ct.EndTime?.TimeOfDay.ToString(@"hh\:mm")" readonly /></td>
                <td>
                    @{
                        string durationString = "";
                        if (ct.EndTime.HasValue)
                        {
                            TimeSpan? duration = ct.EndTime.Value.Subtract(ct.StartTime);
                            int? days = duration?.Days;
                            int? hours = duration?.Hours;
                            int? minutes = duration?.Minutes;
                            int? seconds = duration?.Seconds;
                            durationString = $"{days} days, {hours} hours, {minutes} minutes, {seconds} seconds";
                        }
                    }
                    @durationString
                </td>
                <td>
                    <button class="btn btn-sm btn-primary edit-entry-button" onclick="makeEntryEditable(@ct.Id)">Edit</button>
                    <form method="post">
                        <button id="save-entry-@ct.Id" style="display: none;" class="btn btn-sm btn-primary" asp-page-handler="SaveChanges">Save Changes</button>
                    </form>
                    <button id="cancel-@ct.Id" style="display: none;" class="btn btn-sm btn-dark">Cancel</button>
                    <button class="btn btn-sm btn-danger delete-entry-button" onclick="openDeleteModal(@ct.Id)">Delete</button>
                </td>
        </tr>
    }
    </table>
</div>

<!--modal for adding a new time-->
<form class="shift-form" method="post">
    <div id="add-time-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title">Add New Time Entry</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div id="add-time-container">
                        <label id="add-time-position-label">Position</label>
                        <select class="form-control"
                                asp-items="@(new SelectList(Model.Positions.Where(p => p.Name != "All"), "Id", "Name"))"
                                id="add-time-position"
                                asp-for="@Model.SelectedPositionId"
                                required>
                        </select>
                        <label id="add-time-volunteer-label">Volunteer</label>
                        <select class="form-control"
                                id="add-time-volunteer"
                                asp-items="@(new SelectList(Model.Volunteers, "Id", "FullNameWithID"))"
                                asp-for="@Model.AddVolunteerId"
                                required>
                        </select>

                        <label id="add-time-start-label">Start</label>
                        @*<input id="add-time-start" type="datetime" class="form-control" value="@Model.SearchedStartDate" asp-for="@Model.SearchedStartDate" />*@

                        <div id="add-time-start" class="form-group">
                            <div class="input-group date datetimepicker-datetime" id="dtp-timeclock-entry-start" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" value="@Model.EntryStartDate" asp-for="@Model.EntryStartDate" data-target="#datetimepicker" />
                                <div class="input-group-append" data-target="#dtp-timeclock-entry-start" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="centered" id="add-time-separator"><span>-</span></div>

                        <label id="add-time-end-label">End</label>
                        @* <input id="add-time-end" type="datetime" class="form-control" value="@Model.SearchedEndDate" asp-for="@Model.SearchedEndDate" />*@

                        <div id="add-time-end" class="form-group">
                            <div class="input-group date datetimepicker-datetime" id="dtp-timeclock-entry-end" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" value="@Model.EntryEndDate" asp-for="@Model.EntryEndDate" data-target="#datetimepicker" />
                                <div class="input-group-append" data-target="#dtp-timeclock-entry-end" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" asp-page-handler="AddEntry">Add</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal" onclick="handleDeletePromptDismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function openDeleteModal(id) {
        $('#delete-entry-prompt').modal();
        document.getElementById("entry-id-modal").value = document.getElementById("entry-id-" + id).value;
    }
</script>

<div id="delete-entry-prompt" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title">Attention</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>You are about to delete a time entry. Would you like to continue?</p>
            </div>
            <div class="modal-footer">
                <form method="post">
                    <input id="entry-id-modal" type="hidden" asp-for="@Model.SelectedClockedTimeId" />
                    <button class="btn btn-sm btn-danger" asp-page-handler="DeleteTime">Delete</button>
                </form>
                <button type="button" class="btn btn-dark" data-dismiss="modal" onclick="handleDeletePromptDismiss()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/clockedtime_edit_entries.js"></script>
<script src="~/js/datetimepickers.js"></script>
<script src="~/js/availability.js"></script>