@page "{id}"
@using MHFoodBank.Common
@model MHFoodBank.Web.Areas.Admin.Pages.Shared.VolunteerDetailsModel
@{
    ViewData["Title"] = "VolunteerDetails";
    Layout = "~/Areas/Admin/Pages/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/volunteerdetails.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/lib/jquery-timepicker/jquery.timepicker.css" rel="stylesheet" />
}

<form method="post">
    <input type="hidden" asp-for="@Model.DetailsModel.IsStaff" value="@Model.DetailsModel.IsStaff" />
    <input type="hidden" asp-for="@Model.DetailsModel.FirstName" value="@Model.DetailsModel.FirstName" />
    <input type="hidden" asp-for="@Model.DetailsModel.LastName" value="@Model.DetailsModel.LastName" />
    <div class="ml-5 mr-5">
        <!--if applicant is under 14, display alert-->
        @if (
       (new DateTime(1, 1, 1) + DateTime.Now.Subtract(Model.DetailsModel.Birthdate)).Year - 1 < 14 &&
       Model.DetailsModel.ApprovalStatus == ApprovalStatus.Pending
       )
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                This applicant is under 14 years old.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <partial name="_AdminStatusMessage" for="StatusMessage" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div id="header-container">
            @if (!Model.DetailsModel.IsStaff)
            {
                <div id="approval-radios" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label id="approved" class="btn btn-reverse-primary">
                        <input type="radio" asp-for="@Model.DetailsModel.ApprovalStatus" value="0" /> Approved
                    </label>
                    <label id="pending" class="btn btn-reverse-primary">
                        <input type="radio" asp-for="@Model.DetailsModel.ApprovalStatus" value="1" /> Pending
                    </label>
                    <label id="not-approved" class="btn btn-reverse-primary">
                        <input type="radio" asp-for="@Model.DetailsModel.ApprovalStatus" value="2" /> Not Approved
                    </label>
                    <label id="deleted" class="btn btn-reverse-primary">
                        <input type="radio" asp-for="@Model.DetailsModel.ApprovalStatus" value="3" /> Archived
                    </label>
                </div>
            }
            else
            {
                <div id="approval-radios" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label id="approved" class="btn btn-reverse-primary">
                        <input type="radio" asp-for="@Model.DetailsModel.ApprovalStatus" value="0" /> Active
                    </label>
                    <label id="approved" class="btn btn-reverse-primary">
                        <input type="radio" asp-for="@Model.DetailsModel.ApprovalStatus" value="3" /> Archived
                    </label>
                </div>
            }

            <div id="actions" class="btn-group">
                <button id="save-changes" class="btn-primary btn-sm btn" asp-page-handler="SaveChanges" asp-route-id="@Model.DetailsModel.Id">Save Changes</button>
                <button id="change-password" class="btn btn-sm btn-primary" asp-page-handler="AdminChangePassword" asp-route-id="@Model.DetailsModel.Id">Change Password</button>
                <button id="deleted" class="btn btn-sm btn-danger" type="button" onclick="$('#delete-volunteer-prompt').modal();" /> Delete
            </div>

        </div>
        <hr class="mt-4 mb-4" />
        <div style="border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 0.25rem;">
            <button role="tab" id="personalInfoHeader" type="button" class="card-header w-100 text-left btn-lg btn btn-collapse" onclick="spinChevron('personal-chevron', 'personalInfoCollapse')" data-toggle="collapse" data-target="#personalInfoCollapse" aria-expanded="true" aria-controls="personalInfoCollapse">
                <div class="d-flex justify-content-between">
                    <span>Personal Information</span>
                    <span class="chevron" id="personal-chevron"><i class="fas fa-chevron-right"></i></span>
                </div>
            </button>

            <div id="personalInfoCollapse" class="collapse collapse-section" role="tabpanel" aria-labelledby="personalInfoHeader">
                <div class="card-body" id="personal-container">
                    <div id="address" class="form-group">
                        <label asp-for="@Model.DetailsModel.Address" value="@Model.DetailsModel.Address">Address</label>
                        <input class="form-control" value="@Model.DetailsModel.Address" asp-for="@Model.DetailsModel.Address" />
                        <span asp-validation-for="@Model.DetailsModel.Address" class="text-danger"></span>
                    </div>
                    <div id="city" class="form-group">
                        <label asp-for="@Model.DetailsModel.City" value="@Model.DetailsModel.City">City</label>
                        <input class="form-control" value="@Model.DetailsModel.City" asp-for="@Model.DetailsModel.City" />
                        <span asp-validation-for="@Model.DetailsModel.City" class="text-danger"></span>
                    </div>
                    <div id="postal" class="form-group">
                        <label asp-for="@Model.DetailsModel.PostalCode" value="@Model.DetailsModel.PostalCode">Postal Code</label>
                        <input class="form-control" value="@Model.DetailsModel.PostalCode" asp-for="@Model.DetailsModel.PostalCode" />
                        <span asp-validation-for="@Model.DetailsModel.PostalCode" class="text-danger"></span>
                    </div>
                    <div id="birth" class="form-group">
                        <label asp-for="@Model.DetailsModel.Birthdate" value="@Model.DetailsModel.Birthdate">Birth Date (yyyy-mm-dd)</label>
                        <input class="form-control" type="date" value="@Model.DetailsModel.Birthdate.ToString("yyyy-MM-dd")" asp-for="@Model.DetailsModel.Birthdate" />
                        <span asp-validation-for="@Model.DetailsModel.Birthdate" class="text-danger"></span>
                    </div>
                    <div id="email" class="form-group">
                        <label asp-for="@Model.DetailsModel.Email" value="@Model.DetailsModel.Email">Email</label>
                        <input class="form-control" value="@Model.DetailsModel.Email" asp-for="@Model.DetailsModel.Email" />
                        <span asp-validation-for="@Model.DetailsModel.Email" class="text-danger"></span>
                    </div>
                    <div id="main-phone" class="form-group">
                        <label asp-for="@Model.DetailsModel.MainPhone" value="@Model.DetailsModel.MainPhone">Main Phone</label>
                        <input class="form-control" value="@Model.DetailsModel.MainPhone" asp-for="@Model.DetailsModel.MainPhone" />
                        <span asp-validation-for="@Model.DetailsModel.MainPhone" class="text-danger"></span>
                    </div>
                    <div id="alt-phone-1" class="form-group">
                        <label asp-for="@Model.DetailsModel.AlternatePhone1" value="@Model.DetailsModel.AlternatePhone1">Alternate Phone 1</label>
                        <input class="form-control" value="@Model.DetailsModel.AlternatePhone1" asp-for="@Model.DetailsModel.AlternatePhone1" />
                        <span asp-validation-for="@Model.DetailsModel.AlternatePhone1" class="text-danger"></span>
                    </div>
                    <div id="alt-phone-2" class="form-group">
                        <label asp-for="@Model.DetailsModel.AlternatePhone2" value="@Model.DetailsModel.AlternatePhone2">Alternate Phone 2</label>
                        <input class="form-control" value="@Model.DetailsModel.AlternatePhone2" asp-for="@Model.DetailsModel.AlternatePhone2" />
                        <span asp-validation-for="@Model.DetailsModel.AlternatePhone2" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="button" role="tab" id="emergHeader" onclick="spinChevron('emerg-chevron', 'emergCollapse')" class="card-header w-100 h-100 text-left btn btn-lg btn-collapse" data-toggle="collapse" data-target="#emergCollapse" aria-expanded="true" aria-controls="emergCollapse">
                <div class="d-flex justify-content-between">
                    <span>Emergency Contact Information</span>
                    <span class="chevron" id="emerg-chevron"><i class="fas fa-chevron-right"></i></span>
                </div>
            </button>
            <div id="emergCollapse" class="collapse collapse-section" role="tabpanel" aria-labelledby="emergHeader">
                <div class="card-body" id="emerg-container">
                    <div id="emergency-name" class="form-group">
                        <label>Emergency Contact Name</label>
                        <input class="form-control" asp-for="@Model.DetailsModel.EmergencyFullName" value="@Model.DetailsModel.EmergencyFullName" />
                        <span asp-validation-for="@Model.DetailsModel.EmergencyFullName" class="text-danger"></span>
                    </div>
                    <div id="emergency-relation" class="form-group">
                        <label>Emergency Contact Relationship</label>
                        <input class="form-control" asp-for="@Model.DetailsModel.EmergencyRelationship" value="@Model.DetailsModel.EmergencyRelationship" />
                        <span asp-validation-for="@Model.DetailsModel.EmergencyRelationship" class="text-danger"></span>
                    </div>
                    <div id="emergency-phone-1" class="form-group">
                        <label>Emergency Phone 1</label>
                        <input class="form-control" asp-for="@Model.DetailsModel.EmergencyPhone1" value="@Model.DetailsModel.EmergencyPhone1" />
                        <span asp-validation-for="@Model.DetailsModel.EmergencyPhone1" class="text-danger"></span>
                    </div>
                    <div id="emergency-phone-2" class="form-group">
                        <label>Emergency Phone 2</label>
                        <input class="form-control" asp-for="@Model.DetailsModel.EmergencyPhone2" value="@Model.DetailsModel.EmergencyPhone2" />
                        <span asp-validation-for="@Model.DetailsModel.EmergencyPhone2" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="button" onclick="spinChevron('cert-chevron', 'certCollapse')" role="tab" id="certHeader" class="card-header w-100 h-100 text-left btn btn-lg btn-collapse" data-toggle="collapse" data-target="#certCollapse" aria-expanded="true" aria-controls="certCollapse">
                <div class="d-flex justify-content-between">
                    <span>Certificates</span>
                    <span class="chevron" id="cert-chevron"><i class="fas fa-chevron-right"></i></span>
                </div>
            </button>
            <div id="certCollapse" class="collapse collapse-section" role="tabpanel" aria-labelledby="certHeader">
                <div class="card-body" id="cert-container">
                    <div id="firstaid" class="row">
                        <div class="col-4">
                            <input id="firstaid-check" onclick="toggleCertificates('firstaid-check', ['firstaid-date', 'firstaid-level'], 'firstaid-container')" value="@Model.DetailsModel.FirstAidCpr" asp-for="DetailsModel.FirstAidCpr" />
                            <label asp-for="DetailsModel.FirstAidCpr" class="form-check-label">First aid/Cpr</label>
                        </div>

                        <div class="d-none" id="firstaid-container">
                            <div class="col-7">
                                <label>Expiry:</label>
                                <input class="form-control" id="firstaid-date" asp-for="DetailsModel.FirstAidCprExpiry" value="@Model.DetailsModel.FirstAidCprExpiry?.ToString("yyyy-MM-dd")" disabled />
                            </div>
                            <div class="col-5">
                                <label asp-for="@Model.DetailsModel.FirstAidCprLevel">Level:</label>
                                <input class="form-control" id="firstaid-level" type="text" asp-for="@Model.DetailsModel.FirstAidCprLevel" value="@Model.DetailsModel.FirstAidCprLevel" disabled />
                            </div>
                        </div>
                    </div>
                    <div id="foodsafe" class="row">
                        <div class="col-4">
                            <input id="foodsafe-check" onclick="toggleCertificates('foodsafe-check', ['foodsafe-date'], 'foodsafe-container')" value="@Model.DetailsModel.FoodSafe" asp-for="DetailsModel.FoodSafe" />
                            <label asp-for="DetailsModel.FoodSafe" class="form-check-label">Food Safe</label>
                        </div>
                        <div class="d-none" id="foodsafe-container">
                            <div class="col-7">
                                <label>Expiry:</label>
                                <input id="foodsafe-date" class="form-control" asp-for="DetailsModel.FoodSafeExpiry" value="@Model.DetailsModel.FoodSafeExpiry?.ToString("yyyy-MM-dd")" disabled />
                            </div>
                        </div>
                    </div>
                    <div id="required-certs">
                        <div class="form-check">
                            <input type="checkbox" asp-for="@Model.DetailsModel.CriminalRecordCheck" value="true" />
                            <label class="form-check-label">Criminal Record Check</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" asp-for="@Model.DetailsModel.DrivingAbstract" value="true" />
                            <label class="form-check-label">Driving Abstract</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" asp-for="@Model.DetailsModel.ConfirmationOfProfessionalDesignation" value="true" />
                            <label class="form-check-label">Professional Designation</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" asp-for="@Model.DetailsModel.ChildWelfareCheck" value="true" />
                            <label class="form-check-label">Child Welfare Check</label>
                        </div>
                    </div>
                    <div id="other-certs" class="form-group">
                        <label>Other Certificates</label>
                        <textarea class="form-control" rows="2" asp-for="@Model.DetailsModel.OtherCertificates" value="@Model.DetailsModel.OtherCertificates"></textarea>
                    </div>
                </div>
            </div>
            @if (!Model.DetailsModel.IsStaff)
            {
                <button type="button" role="tab" id="expHeader" class="card-header w-100 h-100 text-left btn btn-lg btn-collapse" onclick="spinChevron('exp-chevron', 'expCollapse')" data-toggle="collapse" data-target="#expCollapse" aria-expanded="true" aria-controls="expCollapse">
                    <div class="d-flex justify-content-between">
                        <span>Experience</span>
                        <span class="chevron" id="exp-chevron"><i class="fas fa-chevron-right"></i></span>
                    </div>
                </button>
                <div id="expCollapse" class="collapse collapse-section" role="tabpanel" aria-labelledby="expHeader">
                    <div class="card-body" id="exp-container">
                        <div id="education" class="form-group">
                            <label>Education and Training</label>
                            <textarea rows="4" class="form-control" asp-for="@Model.DetailsModel.EducationTraining" value="@Model.DetailsModel.EducationTraining"></textarea>
                        </div>
                        <div id="skills" class="form-group">
                            <label>Skills, Interests and Hobbies</label>
                            <textarea rows="4" class="form-control" asp-for="@Model.DetailsModel.SkillsInterestsHobbies" value="@Model.DetailsModel.SkillsInterestsHobbies"></textarea>
                        </div>
                        <div id="volexperience" class="form-group">
                            <label>Volunteer Experience</label>
                            <textarea rows="4" class="form-control" asp-for="@Model.DetailsModel.VolunteerExperience" value="@Model.DetailsModel.VolunteerExperience"></textarea>
                        </div>
                        <div id="boards" class="form-group">
                            <label>Other Boards</label>
                            <textarea rows="4" class="form-control" asp-for="@Model.DetailsModel.OtherBoards" value="@Model.DetailsModel.OtherBoards"></textarea>
                        </div>
                    </div>
                </div>
                <button type="button" role="tab" id="availHeader" class="card-header w-100 h-100 text-left btn btn-lg btn-collapse" onclick="spinChevron('avail-chevron', 'availCollapse')" data-toggle="collapse" data-target="#availCollapse" aria-expanded="true" aria-controls="availCollapse">
                    <div class="d-flex justify-content-between">
                        <span>Availability</span>
                        <span class="chevron" id="avail-chevron"><i class="fas fa-chevron-right"></i></span>
                    </div>
                </button>
                <div id="availCollapse" class="collapse collapse-section" role="tabpanel" aria-labelledby="availHeader">
                    <div class="card-body">
                        <div class="week-container">
                            <div class="sunday-container">
                                <h4>Sunday</h4>
                                <div class="sunday-fields">
                                    @if (@Model.OldAvailability["sunday"].Count > 0)
                                    {
                                        @for (int i = 0; i < @Model.OldAvailability["sunday"].Count; i++)
                                        {
                                            <div class="row sunday mt-1 ml-1 sunday-field time-pair form-group">
                                                <input name="sunday-1-@(i + 1)" value="@Model.OldAvailability["sunday"][i].StartTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time start" />
                                                <span class="col-md-1 justify-content-center">to</span>
                                                <input name="sunday-2-@(i + 1)" value="@Model.OldAvailability["sunday"][i].EndTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time end" />
                                                @if (i > 0)
                                                {
                                                    <button type="button" id='remove-sunday-@(i+1)' onclick="removeField(this, 'sunday')" class='btn btn-light ml-2 form-group'><i class='fas fa-trash'></i></button>
                                                }
                                            </div>

                                        }
                                    }
                                    else
                                    {
                                        <div class="row mt-1 ml-1 sunday-field time-pair form-group">
                                            <input name="sunday-1-1" type="text" class="col-md-3 form-control time start" />
                                            <span class="col-md-1 justify-content-center">to</span>
                                            <input name="sunday-2-1" type="text" class="col-md-3 form-control time end" />
                                        </div>
                                    }
                                </div>
                                <button id="sunday" type="button" onclick="addField('sunday')" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2">Add Another Time</button>
                            </div>
                            <div class="monday-container">
                                <h4>Monday</h4>
                                <div class="monday-fields">
                                    @if (@Model.OldAvailability["monday"].Count > 0)
                                    {
                                        @for (int i = 0; i < @Model.OldAvailability["monday"].Count; i++)
                                        {
                                            <div class="row mt-1 ml-1 monday-field time-pair form-group">
                                                <input name="monday-1-@(i + 1)" value="@Model.OldAvailability["monday"][i].StartTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time start" />
                                                <span class="col-md-1 justify-content-center">to</span>
                                                <input name="monday-2-@(i + 1)" value="@Model.OldAvailability["monday"][i].EndTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time end" />
                                                @if (i > 0)
                                                {
                                                    <button type="button" id='remove-monday-@(i+1)' onclick="removeField(this, 'monday')" class='btn btn-light ml-2 form-group'><i class='fas fa-trash'></i></button>
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="row mt-1 ml-1 monday-field time-pair form-group">
                                            <input name="monday-1-1" type="text" class="col-md-3 form-control time start" />
                                            <span class="col-md-1 justify-content-center">to</span>
                                            <input name="monday-2-1" type="text" class="col-md-3 form-control time end" />
                                        </div>
                                    }
                                </div>
                                <button id="monday" type="button" onclick="addField('monday')" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2">Add Another Time</button>
                            </div>
                            <br />
                            <div class="tuesday-container">
                                <h4>Tuesday</h4>
                                <div class="tuesday-fields">
                                    @if (@Model.OldAvailability["tuesday"].Count > 0)
                                    {
                                        @for (int i = 0; i < @Model.OldAvailability["tuesday"].Count; i++)
                                        {

                                            <div class="row mt-1 ml-1 tuesday-field time-pair form-group">
                                                <input name="tuesday-1-@(i + 1)" value="@Model.OldAvailability["tuesday"][i].StartTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time start" />
                                                <span class="col-md-1 justify-content-center">to</span>
                                                <input name="tuesday-2-@(i + 1)" value="@Model.OldAvailability["tuesday"][i].EndTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time end" />
                                                @if (i > 0)
                                                {
                                                    <button type="button" id='remove-tuesday-@(i+1)' onclick="removeField(this, 'tuesday')" class='btn btn-light ml-2 form-group'><i class='fas fa-trash'></i></button>
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="row mt-1 ml-1 tuesday-field time-pair form-group">
                                            <input name="tuesday-1-1" type="text" class="col-md-3 form-control time start" />
                                            <span class="col-md-1 justify-content-center">to</span>
                                            <input name="tuesday-2-1" type="text" class="col-md-3 form-control time end" />
                                        </div>
                                    }
                                </div>
                                <button id="tuesday" type="button" onclick="addField('tuesday')" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2">Add Another Time</button>
                            </div>
                            <div class="wednesday-container">
                                <h4>Wednesday</h4>
                                <div class="wednesday-fields">
                                    @if (@Model.OldAvailability["wednesday"].Count > 0)
                                    {
                                        @for (int i = 0; i < @Model.OldAvailability["wednesday"].Count; i++)
                                        {

                                            <div class="row mt-1 ml-1 wednesday-field time-pair form-group">
                                                <input name="wednesday-1-@(i + 1)" value="@Model.OldAvailability["wednesday"][i].StartTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time start" />
                                                <span class="col-md-1 justify-content-center">to</span>
                                                <input name="wednesday-2-@(i + 1)" value="@Model.OldAvailability["wednesday"][i].EndTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time end" />
                                                @if (i > 0)
                                                {
                                                    <button type="button" id='remove-wednesday-@(i+1)' onclick="removeField(this, 'wednesday')" class='btn btn-light ml-2 form-group'><i class='fas fa-trash'></i></button>
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="row mt-1 ml-1 wednesday-field time-pair form-group">
                                            <input name="wednesday-1-1" type="text" class="col-md-3 form-control time start" />
                                            <span class="col-md-1 justify-content-center">to</span>
                                            <input name="wednesday-2-1" type="text" class="col-md-3 form-control time end" />
                                        </div>
                                    }
                                </div>
                                <button id="wednesday" type="button" onclick="addField('wednesday')" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2">Add Another Time</button>
                            </div>
                            <br />
                            <div class="thursday-container">
                                <h4>Thursday</h4>
                                <div class="thursday-fields">
                                    @if (@Model.OldAvailability["thursday"].Count > 0)
                                    {
                                        @for (int i = 0; i < @Model.OldAvailability["thursday"].Count; i++)
                                        {

                                            <div class="row mt-1 ml-1 thursday-field time-pair form-group">
                                                <input name="thursday-1-@(i + 1)" value="@Model.OldAvailability["thursday"][i].StartTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time start" />
                                                <span class="col-md-1 justify-content-center">to</span>
                                                <input name="thursday-2-@(i + 1)" value="@Model.OldAvailability["thursday"][i].EndTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time end" />
                                                @if (i > 0)
                                                {
                                                    <button type="button" id='remove-thursday-@(i+1)' onclick="removeField(this, 'thursday')" class='btn btn-light ml-2 form-group'><i class='fas fa-trash'></i></button>
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="row mt-1 ml-1 thursday-field time-pair form-group">
                                            <input name="thursday-1-1" type="text" class="col-md-3 form-control time start" />
                                            <span class="col-md-1 justify-content-center">to</span>
                                            <input name="thursday-2-1" type="text" class="col-md-3 form-control time end" />
                                        </div>
                                    }
                                </div>
                                <button id="thursday" type="button" onclick="addField('thursday')" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2">Add Another Time</button>
                            </div>
                            <div class="friday-container">
                                <h4>Friday</h4>
                                <div class="friday-fields">
                                    @if (@Model.OldAvailability["friday"].Count > 0)
                                    {
                                        @for (int i = 0; i < @Model.OldAvailability["friday"].Count; i++)
                                        {

                                            <div class="row mt-1 ml-1 friday-field time-pair form-group">
                                                <input name="friday-1-@(i + 1)" value="@Model.OldAvailability["friday"][i].StartTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time start" />
                                                <span class="col-md-1 justify-content-center">to</span>
                                                <input name="friday-2-@(i + 1)" value="@Model.OldAvailability["friday"][i].EndTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time end" />
                                                @if (i > 0)
                                                {
                                                    <button type="button" id='remove-friday-@(i+1)' onclick="removeField(this, 'friday')" class='btn btn-light ml-2 form-group'><i class='fas fa-trash'></i></button>
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="row mt-1 ml-1 friday-field time-pair form-group">
                                            <input name="friday-1-1" type="text" class="col-md-3 form-control time start" />
                                            <span class="col-md-1 justify-content-center">to</span>
                                            <input name="friday-2-1" type="text" class="col-md-3 form-control time end" />
                                        </div>
                                    }
                                </div>
                                <button id="friday" type="button" onclick="addField('friday')" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2">Add Another Time</button>
                            </div>
                            <br />
                            <div class="saturday-container">
                                <h4>Saturday</h4>
                                <div class="saturday-fields">
                                    @if (@Model.OldAvailability["saturday"].Count > 0)
                                    {
                                        @for (int i = 0; i < @Model.OldAvailability["saturday"].Count; i++)
                                        {

                                            <div class="row mt-1 ml-1 saturday-field time-pair form-group">
                                                <input name="saturday-1-@(i + 1)" value="@Model.OldAvailability["saturday"][i].StartTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time start" />
                                                <span class="col-md-1 justify-content-center">to</span>
                                                <input name="saturday-2-@(i + 1)" value="@Model.OldAvailability["saturday"][i].EndTime.ToString(@"hh\:mm")" type="text" class="col-md-3 form-control time end" />
                                                @if (i > 0)
                                                {
                                                    <button type="button" id='remove-saturday-@(i+1)' onclick="removeField(this, 'saturday')" class='btn btn-light ml-2 form-group'><i class='fas fa-trash'></i></button>
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="row mt-1 ml-1 saturday-field time-pair form-group">
                                            <input name="saturday-1-1" type="text" class="col-md-3 form-control time start" />
                                            <span class="col-md-1 justify-content-center">to</span>
                                            <input name="saturday-2-1" type="text" class="col-md-3 form-control time end" />
                                        </div>
                                    }
                                </div>
                                <button id="saturday" type="button" onclick="addField('saturday')" class="add-field btn-light btn-sm btn ml-1 mt-1 mb-2">Add Another Time</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="positionsHeader" type="button" role="tab" class="card-header w-100 h-100 text-left btn btn-lg btn-collapse" onclick="spinChevron('position-chevron', 'positionsCollapse')" data-toggle="collapse" data-target="#positionsCollapse" aria-expanded="true" aria-controls="positionsCollapse">
                    <div class="d-flex justify-content-between">
                        <span>Positions</span>
                        <span class="chevron" id="position-chevron"><i class="fas fa-chevron-right"></i></span>
                    </div>
                </button>
                <div id="positionsCollapse" class="collapse collapse-section" role="tabpanel" aria-labelledby="positionsHeader">
                    <div class="card-body">
                        <dl class="row col-md-12">
                            <dt class="col-md-2 p-0">Preferred Positions:</dt>
                            <dd class=" col-md-10 row">
                                @foreach (Position position in Model.Positions)
                                {
                                    <div class="form-check">
                                        @if (Model.DetailsModel.Positions.Any(p =>
p.Position == position &&
p.Association != PositionVolunteer.AssociationType.Assigned))
                                        {
                                            <input class="mr-3" type="checkbox" name="preferred-@position.Name" checked />
                                        }
                                        else
                                        {
                                            <input class="mr-3" type="checkbox" name="preferred-@position.Name" />
                                        }
                                        <label for="@position.Name">@position.Name,</label>
                                    </div>
                                }
                            </dd>
                        </dl>
                        <dl class="row col-md-12">
                            <dt class="col-md-2 p-0">Assigned Positions:</dt>
                            <dd class="col-md-10 row">
                                @foreach (Position position in @Model.Positions)
                                {
                                    <div class="form-check">
                                        @if (@Model.DetailsModel.Positions.Any(p =>
p.Position == position &&
p.Association != PositionVolunteer.AssociationType.Preferred))
                                        {
                                            <input class="mr-3" type="checkbox" name="assigned-@position.Name" checked />
                                        }
                                        else
                                        {
                                            <input class="mr-3" type="checkbox" name="assigned-@position.Name" />
                                        }
                                        <label for="@position.Name">@position.Name,</label>
                                    </div>
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
                <button role="tab" id="workExpHeader" type="button" class="card-header w-100 h-100 text-left btn btn-lg btn-collapse" onclick="spinChevron('workexp-chevron', 'workExpCollapse')" data-toggle="collapse" data-target="#workExpCollapse" aria-expanded="true" aria-controls="workExpCollapse">
                    <div class="d-flex justify-content-between">
                        <span>Work Experience</span>
                        <span class="chevron" id="workexp-chevron"><i class="fas fa-chevron-right"></i></span>
                    </div>
                </button>
                <div id="workExpCollapse" class="collapse collapse-section" role="tabpanel" aria-labelledby="workExpHeader">
                    @for (int i = 1; i <= @Model.DetailsModel.WorkExperiences.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].Id" />
                        <br>
                        <dl class="row col-md-4 ml-1 date-pair">
                            <dt class="col-md-4">Employer Name:</dt>
                            <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].EmployerName" value="@Model.DetailsModel.WorkExperiences[i - 1].EmployerName" /></dd>
                            <dt class="col-md-4">Employer Phone:</dt>
                            <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].EmployerPhone" value="@Model.DetailsModel.WorkExperiences[i - 1].EmployerPhone" /><span asp-validation-for="@Model.DetailsModel.WorkExperiences[i - 1].EmployerPhone" class="text-danger"></span></dd>
                            <dt class="col-md-4">Employer Address:</dt>
                            <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].EmployerAddress" value="@Model.DetailsModel.WorkExperiences[i - 1].EmployerAddress" /></dd>
                            <dt class="col-md-4">Position Worked:</dt>
                            <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].PositionWorked" value="@Model.DetailsModel.WorkExperiences[i - 1].PositionWorked" /></dd>
                            <dt class="col-md-4">Contact Person:</dt>
                            <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].ContactPerson" value="@Model.DetailsModel.WorkExperiences[i - 1].ContactPerson" /></dd>
                            <dt class="col-md-4">Start Date:</dt>
                            <dd class="col-md-8 row"><input type="text" class="form-control date start" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].StartDate" value="@Model.DetailsModel.WorkExperiences[i - 1].StartDate?.ToString("yyyy-MM-dd")" /></dd>
                            <dt id="workexp-current-label-@i" class="col-md-4">End Date:</dt>
                            <dd id="workexp-current-enddate-@i" class="col-md-8 row"><input type="text" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].EndDate" class="form-control date end" /></dd>
                            <dt id="workexp-current-spacer" class="col-md-4"></dt>
                            <dd style="text-align: right;" class="col-md-8">
                                <div class="form-check">
                                    <input id="workexp-current-check-@i" onclick="makeWorkExperienceCurrent(@i)" value="true" asp-for="@Model.DetailsModel.WorkExperiences[i - 1].CurrentJob" />
                                    <label>Current Job</label>
                                </div>
                            </dd>
                        </dl>
                    }
                </div>
                <button role="tab" id="refHeader" class="card-header w-100 h-100 text-left btn-lg btn btn-collapse" onclick="spinChevron('ref-chevron', 'refCollapse')" type="button" data-toggle="collapse" data-target="#refCollapse" aria-expanded="true" aria-controls="refCollapse">
                    <div class="d-flex justify-content-between">
                        <span>References</span>
                        <span class="chevron" id="ref-chevron"><i class="fas fa-chevron-right"></i></span>
                    </div>
                </button>
                <div id="refCollapse" class="collapse collapse-section" role="tabpanel" aria-labelledby="refHeader">
                    @for (int i = 1; i <= @Model.DetailsModel.References.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model.DetailsModel.References[i - 1].Id" />
                        <br>
                        <dl class="row col-md-4 ml-1">
                            <dt class="col-md-4">Name:</dt>
                            <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.References[i - 1].Name" value="@Model.DetailsModel.References[i - 1].Name" /></dd>
                            <dt class="col-md-4">Phone:</dt>
                            <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.References[i - 1].Phone" value="@Model.DetailsModel.References[i - 1].Phone" /><span asp-validation-for="@Model.DetailsModel.References[i - 1].Phone" class="text-danger"></span></dd>
                            <dt class="col-md-4">Relationship:</dt>
                            <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.References[i - 1].Relationship" value="@Model.DetailsModel.References[i - 1].Relationship" /></dd>
                            <dt class="col-md-4">Occupation:</dt>
                            <dd class="col-md-8 row"><input class="form-control" asp-for="@Model.DetailsModel.References[i - 1].Occupation" value="@Model.DetailsModel.References[i - 1].Occupation" /></dd>
                        </dl>
                    }
                </div>
            }
        </div>
    </div>
</form>

<form method="post">
    <div id="delete-volunteer-prompt" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title">Attention</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    @{
                        string roleName = Model.DetailsModel.IsStaff ? "staff member" : "volunteer";
                    }
                    <p>You are about to delete a @roleName from the Medicine Hat Food Bank. This will also delete everything that is attached to this volunteer. All of the shifts that are assigned to this volunteer will be changed to open shifts.</p>
                    <p>Would you like to permanently delete this @roleName?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@Model.DetailsModel.Id" /> Delete
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Never mind</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/js/availability.js"></script>
<script src="~/js/checkboxes.js"></script>
<script>
    const approvalStatus = @Convert.ToInt32(Model.DetailsModel.ApprovalStatus);

    toggleCertificates('firstaid-check', ['firstaid-date', 'firstaid-level'], 'firstaid-container');
    toggleCertificates('foodsafe-check', ['foodsafe-date'], 'foodsafe-container');

    switch (approvalStatus) {
        case 0:
            $("#approved").addClass("active");
            break;
        case 1:
            $("#pending").addClass("active");
            break;
        case 2:
            $("#not-approved").addClass("active");
            break;
        case 3:
            $("#deleted").addClass("active");
            break;
    }
</script>

<script>

    $('.date').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true
    });

    $('.time').timepicker({
        'showDuration': true,
        'timeFormat': 'G:i',
        'show2400': true,
        'maxTime': '23:59',
        'defaultTimeDelta': '60000',
        'step': '15',
        'disableTextInput': true
    });

    $('.time-pair').datepair();
    $('.date-pair').datepair();

    function spinChevron(chevronId, accordianId) {
        let chevron = document.getElementById(chevronId);

        $('#' + accordianId).on('show.bs.collapse', function () {
            chevron.classList.add('opened');
        });

        $('#' + accordianId).on('hide.bs.collapse', function () {
            chevron.classList.remove('opened');
        });
    }
</script>